{# templates/user/user_role/index.html.twig #}

{% extends 'base.html.twig' %}

{% block webwms_content %}
    {% block webwms_user_role_overview %}
        <div id="webWMS-user-role-overview" class="wrapper-form vertical-theme">
            <div class="wrapper-form-content vertical-theme">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                {% block webwms_user_overview_table_user_role %}
                                    <div class="card">
                                        <div class="card-content">
                                            <table class="table table-striped table-bordered table-hover compact">
                                                <thead style="text-align: center">
                                                <tr>
                                                    <th rowspan="2">Id</th>
                                                    <th colspan="2"></th>
                                                    <th colspan="4">Rechte</th>
                                                </tr>
                                                <tr>
                                                    <th>Benutzerrolle</th>
                                                    <th>Beschreibung</th>
                                                    {% for user_right in user_rights %}
                                                    <th style="text-align: center">{{ user_right.description }}</th>
                                                    {% endfor %}
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for user_role in user_roles %}
                                                    <tr>
                                                        <td style="text-align: center">{{user_role.id}}</td>
                                                        <td>{{user_role.userRole}}</td>
                                                        <td>{{user_role.description}}</td>
                                                            {% for user_right in user_rights %}
                                                        <td style="text-align: center">
                                                                {% if user_right.id in user_role.userRights %}
                                                                    <div class="form-check">
                                                                        <input class="checkbox" type="checkbox" value="" id="userRight_{{user_right.userRight}}" disabled="disabled" checked>
                                                                    </div>
                                                                {% else %}
                                                                    <div class="form-check" style="">
                                                                        <input class="checkbox" type="checkbox" value="" id="userRight_{{user_right.userRight}}">
                                                                    </div>
                                                                {% endif %}
                                                        </td>
                                                            {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block bodyjs %}{% endblock %}