{# templates/dashboard/partials/head-css.html.twig #}

{% block webwms_dashboard_head_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/dashboard/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/dashboard/css/preloader.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/dashboard/css/icons.css') }}">
    <link id="app-style" rel="stylesheet" type="text/css" href="{{ asset('bundles/dashboard/css/admin-bundle.css') }}">
{% endblock %}
