{# templates/template/template_input_fields.html.twig #}

{% block webwms_template_input_fields_form %}
    <fieldset
        id="template-form-fieldset-primary-{{ template.id }}" {% if template.id != "new" %} {% endif %}>
        <div class="row">
            <label for="name-{{ template.id }}" class="col-sm-4 col-form-label text-end">{{ 'templates.name'|trans }}
                *</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="name-{{ template.id }}" style="box-shadow: none"
                       value="{{ template.name }}" required />
            </div>
        </div>
        <div class="row">
            <label for="name-{{ template.id }}" class="col-sm-4 col-form-label text-end">{{ 'templates.type'|trans }}
                *</label>
            <div class="col-sm-8">
                <select name="type-{{ template.id }}" class="form-select" id="template-type" style="box-shadow: none; width: 100%">
                    {% for type in types %}
                        <option value="{{ type.id }}"{% if template.templateType != null and template.templateType.id == type.id %} selected="selected"{% endif %}>{{ type.name|trans }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col">
            <div class="col">
                <textarea name="text-{{ template.id }}" id="editor1" rows="15">{{ template.text|raw }}</textarea>
            </div>
        </div>
        <div class="row">
            <label for="params-{{ template.id }}" class="col-sm-4 col-form-label text-end">{{ 'templates.params'|trans }}</label>
            <div class="col-sm-8">
                {% if template.params|length == 0 %}
                    {% set tParams = '{"orientation": "P", "marginLeft": 25, "marginRight": 20, "marginTop": 20, "marginBottom": 20, "marginHeader": 9, "marginFooter": 9}' %}
                {% else %}
                    {% set tParams = template.params %}
                {% endif %}

                <input type="text" class="form-control" name="params-{{ template.id }}"
                       value="{{ tParams }}" />
            </div>
        </div>
        <div class="row">
            <label for="default-{{ template.id }}" class="col-sm-4 form-check-label text-end">{{ 'templates.default'|trans }}</label>
            <div class="col-sm-8 text-start">
                <input type="checkbox" name="default-{{ template.id }}" class="form-check"
                       {%if template.isDefault %}checked="checked"{%endif %} />
            </div>
        </div>
    </fieldset>

    <input name="_csrf_token" value="{{ csrf_token('authenticate') }}" type="hidden">

    <script>

        const templateUrl = "{{ path('settings.templates.editor.template', {'templateTypeId': 'placeholder'}) }}";

        const newTemplateUrl = templateUrl.replace("placeholder", $("#template-type").val());
        //tinymce.execCommand("mceRemoveEditor", true, "editor1");

        $(function ()
        {
            if (tinymce.get("editor1") !== null)
                tinymce.get("editor1").remove();
            tinymce.init({
                selector: '#editor1',
                language: '{{ app.request.locale }}',
                toolbar_mode: 'sliding',
                plugins: [
                    'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview', 'anchor',
                    'searchreplace', 'visualblocks', 'code', 'fullscreen', 'image',
                    'insertdatetime', 'media', 'table', 'code', 'help', 'wordcount', 'table', 'template'
                ],
                toolbar: 'undo redo | fontselect fontsizeselect | bold italic underline forecolor backcolor image | template | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent |  table | removeformat | code | fullscreen preview | help',
                menubar: false,
                images_upload_url: '{{ path('templates.upload') }}',
                relative_urls: false,
                protect: [
                    /\{\%[\s\S]*?%\}/g, // Allow TWIG control codes
                    ///\{\{[\s\S]*?\}\}/g, // Allow TWIG output codes
                    /\{\#[\s\S]*?#\}/g, // Allow TWIG comment codes
                    /<\/?.*(html)?pageheader.*?>/g,
                    /<\/?.*(html)?pagefooter.*?>/g
                ],
                templates: newTemplateUrl,
                entity_encoding: "raw",
                branding: false,
                valid_children: '+body[style]',
                content_css: [
                    '{{ asset('assets/css/editor.css') }}
                ],
                fontsize_formats: "8pt 9pt 10pt 11pt 12pt 14pt 16pt 18pt 24pt 36pt",
                // for the moment we define a different class name. fields are therefore editable because they use the original class name
                // reason: formats can not be applied to noneditable fields at the moment (https://github.com/tinymce/tinymce/issues/3355)
                // when the issue is resolved we can remove this line here
                noneditable_class: "mceNonEditable2",
                setup: function (ed)
                {
                    ed.on('init', function ()
                    {
                        //this.getDoc().body.style.fontSize = '12';
                        //this.getDoc().body.style.fontFamily = 'Arial';
                    });
                },
            });

            $("#template-type").change(function () {
                let settings = tinymce.activeEditor.options;
                let newTemplateUrl = templateUrl.replace("placeholder", $(this).val());
                settings.set('templates', newTemplateUrl);
            });
        });
    </script>
{% endblock %}
