{# templates/template/template_add.html.twig #}

{% block webwms_template_add_form %}
    <form id="entry-form-new" class="form-horizontal" role="form" onsubmit="return createNewEntity()">
        <div class="modal-body ps-5 pe-5">
            <div id="flash-message-overlay">
            </div>
            {% include 'template/template_input_fields.html.twig' %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn " data-bs-dismiss="modal">{{ 'button.cancel'|trans }}</button>
            <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary"/>
        </div>
    </form>
{% endblock %}
