{# templates/template/template_edit.html.twig #}

{% block webwms_template_edit_form %}
    <form id="entry-form-{{ template.id }}" class="form-horizontal" role="form" onsubmit="return saveEntity({{ template.id }})">
        <div class="modal-body ps-5 pe-5">
            <div id="flash-message-overlay">
            </div>
                {% include 'template/template_input_fields.html.twig' %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal">{{ 'button.cancel'|trans }}</button>
            <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary"/>
        </div>
    </form>
{% endblock %}
