{# templates/security/login.html.twig #}

{% block body %}

    <head>
        {{ include('subsections/head-css.html.twig') }}
    </head>

    <title>{% block title %}Anmelden | webWMS | Das webbasierte Lagerverwaltungssystem{% endblock %}</title>
    {% block stylesheets %}
        <link rel="shortcut icon" href="{{ asset('assets/images/favicon.ico') }}">
    {% endblock %}

    {% block webwms_login_form %}
        <div class="content-webLVS">
            <div class="signup-form">
                <form class="form-horizontal" role="form" method="post">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <div class="mb-3">
                    <span class="text-first">web</span><span class="text-last">WMS</span>
                </div>
                <h4>Das webbasierte Lagerverwaltungssystem</h4><br>
                <div class="form-group">
                    <input
                        type="text"
                        value="{{ last_username }}"
                        name="username"
                        id="inputUsername"
                        class="form-control"
                        placeholder="Benutzername"
                        required
                        autofocus
                    />
                </div>
                <div class="form-group">
                    <input
                        type="password"
                        name="password"
                        id="inputPassword"
                        class="form-control"
                        placeholder="Passwort"
                        required
                    />
                </div>
                <input
                        type="hidden"
                        name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                />
{#                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Angemeldet bleiben
                    </label>
                </div>#}
                <input type="hidden" name="_target_path" value="{{ path('homepage') }}" />
                <div class="form-group">
                    <button type="submit" name="anmelden" class="btn btn-dark bg-gradient waves-effect waves-light">Anmelden</button>
                </div>
                <div class="signup-form-text-info">
                    &copy; 2019-{{ "now"|date("Y") }} <a href="https://softdev-nord.de"> Softdev Nord Rene Irrgang </a><br>
                    webLVS &reg; {{ appVersionNumber }} {{ appVersion }} <br><br>
                    {{ appLizenz }}
                </div>
                <div>
                    <i class="brands-webWMS mdi mdi-symfony"></i>
                    <i class="brands-webWMS mdi mdi-language-php"></i>
                    <i class="brands-webWMS mdi mdi-language-html5"></i>
                    <i class="brands-webWMS mdi mdi-language-css3"></i>
                    <i class="brands-webWMS mdi mdi-language-javascript"></i>
                </div>
                <div class="signup-form-text-software">
                    Webserver:   {{ webServer }} <br>
                    Server IP-Adresse: {{ serverIp }} <br>
                    Server Name: {{ serverName }} <br>
                    Freier Speicherplatz: {{ freeDiskSpace }} <br>
                    MySQL Version: {{ mySqlVersion }} <br>
                    PHP Version: {{ phpVersion }}
                </div>
                </form>
            </div>
        </div>
    {% endblock %}
{% endblock %}
