# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node artifact files
node_modules/
dist/

# Environment files
.env
.env.test

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

#
/var/*
/vendor/*

#> friendsofphp/php-cs-fixer
.php-cs-fixer.dist.php
/php-cs-fixer.cache
#< friendsofphp/php-cs-fixer
