parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property WebWMS\\\\Entity\\\\BookingMethod\\:\\:\\$menuId\\.$#"
			count: 2
			path: src/Entity/BookingMethod.php

		-
			message: "#^Class WebWMS\\\\Entity\\\\Feature not found\\.$#"
			count: 1
			path: src/Form/GroupFeatureType.php

		-
			message: "#^Class WebWMS\\\\Entity\\\\Group not found\\.$#"
			count: 1
			path: src/Form/GroupFeatureType.php

		-
			message: "#^Class WebWMS\\\\Entity\\\\Group not found\\.$#"
			count: 1
			path: src/Form/GroupType.php

		-
			message: "#^Class WebWMS\\\\Entity\\\\Permission not found\\.$#"
			count: 1
			path: src/Form/RoleType.php

		-
			message: "#^Class WebWMS\\\\Entity\\\\Role not found\\.$#"
			count: 1
			path: src/Form/RoleType.php

		-
			message: "#^Class WebWMS\\\\Entity\\\\Role not found\\.$#"
			count: 1
			path: src/Service/RoleService.php
