includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - phpstan-baseline.neon
parameters:

    #  max or choose from 10 levels (0 is the loosest, 9 is the strictest).
    level: 8

#    symfony:
#        container_xml_path: var/cache/dev/WebWMS_KernelDevDebugContainer.xml

    paths:
        - src

    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false