parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Doctrine\\\\DBAL\\\\Driver\\\\Connection\\:\\:getServerVersion\\(\\)\\.$#"
			count: 1
			path: src/Service/RequirementsService.php
