{# templates/modal/put_into_storage.html.twig #}

{% extends 'base.html.twig' %}

{% block webwms_content %}
    {% block webwms_put_into_storage %}
        <div id="webwms-put-into-storage" class="wrapper-form vertical-theme">
            <div class="wrapper-form-content vertical-theme">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form name="stock_in_final" action="{{ path('stock_in_final') }}" method="post">
                                    {% block webwms_put_into_storage_table %}
                                        <table id="putIntoStorageTable" class="table table-striped table-bordered table-hover compact">
                                            <thead>
                                            <tr>
                                                <th scope="col" style="text-align: center">Lagereinheit</th>
                                                <th scope="col" style="text-align: center">Lagersystem</th>
                                                <th scope="col" style="text-align: center">Lagernummer</th>
                                                <th scope="col" style="text-align: center">Fachboden</th>
                                                <th scope="col" style="text-align: center">Stellplatz</th>
                                                <th scope="col" style="text-align: center">Tiefe</th>
                                                <th scope="col" style="text-align: center">Menge</th>
                                                <th scope="col" style="text-align: center">TBE</th>
                                                <th class="editor-edit text-center">Ändern</th> <!-- Logik hierfür muss noch implementiert werden -->
                                            </tr>
                                            </thead>
                                            <tbody id="myTable" style="text-align: center">
                                            {% for key, freeStockLocation in freeStockLocations %}
                                                <tr>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text"
                                                                   id="stock_in_final_stock_su_id_{{ key }}"
                                                                   name="stock_in_final[{{ key }}][stock_su_id]"
                                                                   required="required"
                                                                   data-type="stock_su_id_{{ key }}"
                                                                   style="text-align: center;"
                                                                   readonly="readonly"
                                                                   class="form-control"
                                                                   value="{{ freeStockLocation.suId }}"
                                                            >
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text"
                                                                   id="stock_in_final_stock_system_{{ key }}"
                                                                   name="stock_in_final[{{ key }}][stock_system]"
                                                                   required="required"
                                                                   data-type="stock_system_{{ key }}"
                                                                   style="text-align: center;"
                                                                   readonly="readonly"
                                                                   class="form-control"
                                                                   value="{{ freeStockLocation.system }}"
                                                            >
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text"
                                                                   id="stock_in_final_stock_ln_{{ key }}"
                                                                   name="stock_in_final[{{ key }}][stock_ln]"
                                                                   required="required"
                                                                   data-type="stock_ln_{{ key }}"
                                                                   style="text-align: center;"
                                                                   readonly="readonly"
                                                                   class="form-control"
                                                                   value="{{ freeStockLocation.ln }}"
                                                            >
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text"
                                                                   id="stock_in_final_stock_fb_{{ key }}"
                                                                   name="stock_in_final[{{ key }}][stock_fb]"
                                                                   required="required"
                                                                   data-type="stock_fb_{{ key }}"
                                                                   style="text-align: center;"
                                                                   readonly="readonly"
                                                                   class="form-control"
                                                                   value="{{ freeStockLocation.fb }}"
                                                            >
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text"
                                                                   id="stock_in_final_stock_sp_{{ key }}"
                                                                   name="stock_in_final[{{ key }}][stock_sp]"
                                                                   required="required"
                                                                   data-type="stock_sp_{{ key }}"
                                                                   style="text-align: center;"
                                                                   readonly="readonly"
                                                                   class="form-control"
                                                                   value="{{ freeStockLocation.sp }}"
                                                            >
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text"
                                                                   id="stock_in_final_stock_tf_{{ key }}"
                                                                   name="stock_in_final[{{ key }}][stock_tf]"
                                                                   required="required"
                                                                   data-type="stock_tf_{{ key }}"
                                                                   style="text-align: center;"
                                                                   readonly="readonly"
                                                                   class="form-control"
                                                                   value="{{ freeStockLocation.tf }}"
                                                            >
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text"
                                                                   id="stock_in_final_stock_quantity_{{ key }}"
                                                                   name="stock_in_final[{{ key }}][stock_quantity]"
                                                                   required="required"
                                                                   data-type="stock_quantity_{{ key }}"
                                                                   style="text-align: center;"
                                                                   readonly="readonly"
                                                                   class="form-control"
                                                                   value="{{ freeStockLocation.quantity }}"
                                                            >
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text"
                                                                   id="stock_in_final_stock_tbe_{{ key }}"
                                                                   name="stock_in_final[{{ key }}][stock_tbe]"
                                                                   required="required"
                                                                   data-type="stock_tbe_{{ key }}"
                                                                   style="text-align: center;"
                                                                   readonly="readonly"
                                                                   class="form-control"
                                                                   value="{{ freeStockLocation.quantity }}"
                                                            >
                                                        </div>
                                                    </td>
                                                    <td class="edit-selected-stock-location text-center" style="vertical-align: inherit;"><i class="edit-selected-stock-location mdi mdi-square-edit-outline"></i></td>
                                                    <input type="hidden" id="stock_in_final_stock_coordinate_{{ key }}" name="stock_in_final[{{ key }}][stock_coordinate]" value="{{ freeStockLocation.koordinate }}">
                                                </tr>
                                                <input type="hidden" id="stock_in_final_charge" name="stock_in_final[{{ key }}][charge]" value="{{ charge }}">
                                                <input type="hidden" id="stock_in_final_article" name="stock_in_final[{{ key }}][article_nr]" value="{{ article_nr }}">
                                                <input type="hidden" id="stock_in_final_article_id" name="stock_in_final[{{ key }}][article_id]" value="{{ article_id }}">
                                                <input type="hidden" id="stock_in_final_booking_method" name="stock_in_final[{{ key }}][booking_method]" value="{{ booking_method }}">
                                                <input type="hidden" id="stock_in_final_loading_equipment" name="stock_in_final[{{ key }}][loading_equipment]" value="{{ loading_equipment }}">
                                                <input type="hidden" id="stock_location_id" name="stock_in_final[{{ key }}][stock_location_id]" value="{{ freeStockLocation.id }}">
                                                <input type="hidden" id="le_quantity" name="stock_in_final[{{ key }}][le_quantity]" value="{{ freeStockLocation.leQuantity }}">
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endblock %}
                                    <div class="text-center">
                                        <button type="button" id="stock_in_post_final" name="stock_in_final[stock_in_post_final]" class="btn btn-primary btn-xm btn3d">Buchen</button>
                                        <button type="button" id="stock_in_final_stock_in_graphical" name="stock_in_final[stock_in_graphical]" class="btn btn-primary btn-xm btn3d">Grafik</button>
                                        <button type="button" id="stock_in_final_stock_in_correction" name="stock_in_final[stock_in_correction]" class="btn btn-primary btn-xm btn3d">Korrektur</button>
                                        <button type="button" id="stock_in_final_back_to_stock_in" name="stock_in_final[back_to_stock_in]" class="btn btn-primary btn-xm btn3d">Abbruch</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block bodyjs %}
    <script type="text/javascript" src="{{ asset('assets/js/webWmsCoreJs/jquery.stockInItemsAutofill.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/webWmsCoreJs/jquery.stockTransactions.js') }}"></script>
{% endblock %}
