{# templates/modal/show_stock_details_modal.html.twig #}

{% block webwms_show_stock_details_modal %}
    <div id="showStockDetails">
        <div class="modal-body">
            <div class="card">
                <div id="flash-message-overlay">
                    <div class="col">
                    </div>
                </div>
                    {% if stockDetails.info is defined %}
                        <div class="no-stock-details">{{ stockDetails.info }}</div>
                    {% else %}
                    <table id="showStockDetailTable" class="table table-striped table-bordered table-hover compact">
                        <thead>
                            <tr>
                                <th style="text-align: center; width: 7%;" scope="col">Koordinate</th>
                                <th style="text-align: center; width: 7%;" scope="col">Artikel-Nr</th>
                                <th style="text-align: center; width: 25%;" scope="col">Bezeichnung</th>
                                <th style="text-align: center; width: 7%;" scope="col">Bestand</th>
                                <th style="text-align: center; width: 7%;" scope="col">Zugang</th>
                                <th style="text-align: center; width: 7%;" scope="col">Abgang</th>
                                <th style="text-align: center; width: 10%;" scope="col">Letzter Zugang</th>
                                <th style="text-align: center; width: 10%;" scope="col">Letzter Abgang</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-article-nr="{{ stockDetails.article_nr }}">
                                <th style="text-align: center;" scope="col">{{ stockDetails.stock_coordinate }}</th>
                                <th style="text-align: center;" scope="col">{{ stockDetails.article_nr }}</th>
                                <th style="text-align: center;" scope="col">{{ stockDetails.article_name }}</th>
                                <th style="text-align: center;" scope="col">{% if stockDetails.in_stock is not null %}{{ stockDetails.in_stock }}{% else %}0.00{% endif %}</th>
                                <th style="text-align: center;" scope="col">{% if stockDetails.incoming_stock is not null %}{{ stockDetails.incoming_stock }}{% else %}0.00{% endif %}</th>
                                <th style="text-align: center;" scope="col">{% if stockDetails.reserved_stock is not null %}{{ stockDetails.reserved_stock }}{% else %}0.00{% endif %}</th>
                                <th style="text-align: center;" scope="col">{% if stockDetails.last_incoming is not null %}{{ stockDetails.last_incoming }}{% else %}...{% endif %}</th>
                                <th style="text-align: center;" scope="col">{% if stockDetails.last_outgoing is not null %}{{ stockDetails.last_outgoing }}{% else %}...{% endif %}</th>
                            </tr>
                        </tbody>
                    </table>
                    {% endif %}
            </div>
        </div>
        <div class="modal-footer">
            <br/>
        </div>
    </div>
{% endblock %}
