{# templates/customer/customer_add.html.twig #}

{% block webwms_customer_add_form %}
    <form id="customer-form-new" class="form-horizontal" role="form">
        <div class="modal-body">
            <div class="container-fluid">
                <div id="flash-message-overlay">
                    <div class="col">
                    </div>
                </div>
                {% include 'customer/customer_input_fields.html.twig' %}
            </div>
        </div>
        <div class="modal-footer"></div>
    </form>
{% endblock %}
