{# templates/customer/index.html.twig #}

{% extends 'base.html.twig' %}

{% block webwms_content %}
    {% block webwms_customer_overview %}
        <div id="webWMS-customer-overview" class="wrapper-form vertical-theme">
            <div class="wrapper-form-content vertical-theme">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                {% block webwms_customer_overview_table %}
                                    <table id="customerTable" class="table table-striped table-bordered table-hover compact">
                                        <thead>
                                        <tr>
                                            <th scope="col">Kunden-Nr</th>
                                            <th scope="col">Kunden-Name</th>
                                            <th scope="col">Anschrift Zusatz</th>
                                            <th scope="col">Straße</th>
                                            <th scope="col">Haus-Nr</th>
                                            <th scope="col">Land</th>
                                            <th scope="col">PLZ</th>
                                            <th scope="col">Ort</th>
                                        </tr>
                                        </thead>
                                    </table>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block bodyjs %}
    <script type="text/javascript" src="{{ asset('assets/js/webWmsCoreJs/jquery.customer.js') }}"></script>
{% endblock %}
