{% extends 'base.html.twig' %}

{% block title %}{{ page }}{{ appName }}{% endblock %}

{% block body %}
    {% block webwms_header %}
        {{ include('header.html.twig') }}
    {% endblock %}

    {% block webwms_content %}
        {% block webwms_log_viewer_overview %}
            <div id="webWMS-log-viewer-overview" class="wrapper-form vertical-theme">
                <div class="wrapper-form-content vertical-theme">
                    {% block webwms_log_viewer_overview_content %}
                        <div class="card">
                            <div class="card-content">
                                {% if files is not empty %}
                                    <ul>
                                        {% for file in files %}
                                            <li>
                                                <a href="{{ path('web_wms_log_viewer_logs', { file: file }) }}">{{ file }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    {% endblock %}
{% endblock %}
