{% extends 'base.html.twig' %}

{% block title %}{{ page }}{{ appName }}{% endblock %}

{% block body %}
    {% block webwms_header %}
        {{ include('header.html.twig') }}
    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" type="text/css" href="{{ asset('modules/logviewer/css/logs.css') }}">
    {% endblock %}

    {% block webwms_content %}
        {% block webwms_log_viewer_overview %}
            <div id="webWMS-log-viewer-overview" class="wrapper-form vertical-theme">
                <div class="wrapper-form-content vertical-theme">
                    {% block webwms_log_viewer_overview_content %}
                        <div class="card">
                            <div class="card-content">
                                <div class="filters">
                                    <form class="form-inline" method="GET">
                                        <div class="form-group">
                                            <select name="channel" class="form-control">
                                                <option value="">Alle Kanäle</option>
                                                {% for channel in channels %}
                                                    <option value="{{ channel }}" {% if app.request.query.get('channel') == channel %}selected="selected"{% endif %}>{{ channel }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select name="level" class="form-control">
                                                <option value="">Alle Log Levels</option>
                                                {% for level in levels %}
                                                    <option value="{{ level }}" {% if app.request.query.get('level') == level %}selected="selected"{% endif %}>{{ level }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select name="distinct" class="form-control">
                                                <option value="0" {% if app.request.query.get('distinct') == 0 %}selected="selected"{% endif %}>Jedes Log</option>
                                                <option value="1" {% if app.request.query.get('distinct') == 1 %}selected="selected"{% endif %}>Eindeutig</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-lg">Filter</button>
                                        </div>
                                    </form>
                                </div>
                                <table id="logViewerTable" class="table datatable table-striped table-bordered table-hover compact">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="width: 7%">Log Level</th>
                                            <th scope="col" style="width: 10%">Datum</th>
                                            <th scope="col" style="width: 5%">Kanal</th>
                                            <th scope="col">Message</th>
                                            <th scope="col" style="width: 2%">Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% set icons = {
                                            debug: 'bug-outline',
                                            info: 'information-outline',
                                            notice: 'information',
                                            warning: 'shield-alert-outline',
                                            error: 'alert-circle-outline',
                                            critical: 'bolt',
                                            alert: 'bell-ring-outline',
                                            emergency: 'bell-outline'
                                        } %}
                                        {% for log in logs %}
                                            <tr class="log log-{{ log.level }}">
                                                <td class="log-icon" style="text-align: center;">
                                                    <i class="mdi mdi-{{ icons[log.level] }}" title="{{ log.level }}"></i>
                                                </td>
                                                <td class="log-date">{{ log.date|date('Y-m-d H:i:s') }}</td>
                                                <td class="log-channel">{{ log.channel }}</td>
                                                <td class="log-message">{{ log.message }}</td>
                                                <td class="log-action">
                                                    <i class="mdi mdi-menu" onclick="document.getElementById('logContext{{ loop.index }}').classList.toggle('d-none');"></i>
                                                </td>
                                            </tr>
                                            <tr class="log log-{{ log.level }}">
                                                <td id="logContext{{ loop.index }}" class="log-context d-none" colspan="5">{{ log.context|json_encode }}</td>
                                            </tr>
                                        {% else %}
                                            <tr><td colspan="4">Keine Ergebnisse zum Anzeigen</td></tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    {% endblock %}
    {% block bodyjs %}
{#        <script type="text/javascript" src="{{ asset('modules/logviewer/js/jquery.logViewer.js') }}"></script>#}
        <script>
            /*            $(document).ready(function () {
                            $('#logViewerTable').DataTable(
                                {
                                    pageLength: 10,
                                    paging: true,
                                    searching: true,
                                    order: [[1, "asc"]],
                                    //columnDefs: [{ orderable: false, targets: [7] }], // 6 was the highest index, not 7
                                    columns:[
                                        //"dummy" configuration
                                        { visible: true, "width": "7%" }, //col 1
                                        { visible: true, "width": "10%" }, //col 2
                                        { visible: true, "width": "5%" }, //col 3
                                        { visible: true, "width": "73%" }, //col 4
                                        { visible: true, "width": "%" }, //col 5
                                    ]

                );
            });}*/
        </script>

    {% endblock %}

{% endblock %}
