{# templates/supplier/index.html.twig #}

{% extends 'base.html.twig' %}

{% block webwms_content %}
    {% block webwms_supplier_overview %}
        <div id="webWMS-supplier-overview" class="wrapper-form vertical-theme">
            <div class="wrapper-form-content vertical-theme">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                {% block webwms_supplier_overview_table %}
                                    <div class="card">
                                        <div class="card-content">
                                            <table id="supplierTable" class="table table-striped table-bordered table-hover compact">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Lieferanten-Nr</th>
                                                    <th scope="col">Lieferanten-Name</th>
                                                    <th scope="col">Anschrift Zusatz</th>
                                                    <th scope="col">Straße</th>
                                                    <th scope="col">Haus-Nr</th>
                                                    <th scope="col">Land</th>
                                                    <th scope="col">PLZ</th>
                                                    <th scope="col">Ort</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block bodyjs %}
    <script type="text/javascript" src="{{ asset('assets/js/webWmsCoreJs/jquery.supplier.js') }}"></script>
{% endblock %}
