.filters { margin-bottom: 15px; }
.log-date,
.log-channel,
.log-context { color: #c7cbcc !important; }

.log .log-context { color: #c7cbcc; }

.log-debug { border-left: 5px solid #c7cbcc; }
.log-info,
.log-notice { border-left: 5px solid #0CF; }
.log-warning { border-left: 5px solid #F93; }
.log-error,
.log-critical,
.log-alert { border-left: 5px solid #F00; }

.log-debug td.log-icon { color: #c7cbcc; }
.log-info td.log-icon,
.log-notice td.log-icon { color: #0CF !important; }
.log-warning td.log-icon { color: #F93 !important; }
.log-error td.log-icon,
.log-error .log-message,
.log-critical td.log-icon,
.log-critical .log-message,
.log-alert td.log-icon,
.log-alert .log-message { color: #F00 !important; }

.log-emergency { background-color: #F00; border-left: 5px solid #F00; color: #FFF; }
.log-emergency .log-icon,
.log-emergency .log-date,
.log-emergency .log-channel,
.log-emergency .log-context { color: #FFF; }

.log-action .mdi .mdi-menu { cursor: pointer; }

.log-icon,
.log-date,
.log-channel,
.log-action { text-align: center; }

#logViewerTable > thead > tr > th { text-align: center; padding: 4px; }

