{# templates/transport_request/index.html.twig #}

{% extends 'base.html.twig' %}

{% block webwms_content %}
    {% block webwms_transport_request_overview %}
        <div id="webWMS-transport-request-overview" class="wrapper-form vertical-theme">
            <div class="wrapper-form-content vertical-theme">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                {% block webwms_transport_request_overview_table %}
                                    <table id="transportRequestTable" class="table table-striped table-bordered table-hover compact">
                                        <thead>
                                        <tr>
                                            <th scope="col">Lagereinheit</th>
                                            <th scope="col">TA-Nr.</th>
                                            <th scope="col">TA-Pos.</th>
                                            <th scope="col">Prio</th>
                                            <th scope="col">Artikel</th>
                                            <th scope="col">TA Typ</th>
                                            <th scope="col">Menge</th>
                                            <th scope="col">Koordinate</th>
                                            <th scope="col">Lagerplatz</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Erstellt von</th>
                                            <th scope="col">Buchungsmethode</th>
                                            <th scope="col">Referenz</th>
                                            <th scope="col">LHM</th>
                                            <th scope="col">Bearbeiter</th>
                                            <th scope="col">Ip-Adresse</th>
                                            <th scope="col">Blockiert</th>
                                            <th scope="col">Start Bearbeitung</th>
                                            <th scope="col">TA Bearbeitet</th>
                                        </tr>
                                        </thead>
                                    </table>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block bodyjs %}
    <script type="text/javascript" src="{{ asset('assets/js/webWmsCoreJs/jquery.transportRequest.js') }}"></script>
{% endblock %}
