{# templates/homepage/index.html.twig #}

{% extends 'base.html.twig' %}

{% block webwms_content %}
    <!-- Beginn Seite -->
    <div class="text-center">
        <div class="container-fluid">
            <img  class="image-webLVS" alt="" src="{{ asset('assets/images/warehouse.png') }}">
        </div>
    </div>
{% endblock %}
