{# templates/customer_order/index.html.twig #}

{% extends 'base.html.twig' %}

{% block webwms_content %}
    {% block webwms_customer_orders_overview %}
        <div id="webWMS-customer-orders-overview" class="wrapper-form vertical-theme">
            <div class="wrapper-form-content vertical-theme">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                {% block webwms_customer_order_overview_table_customer_orders %}
                                    <table id="customerOrderTable" class="table table-striped table-bordered table-hover compact dataTable no-footer">
                                        <thead>
                                        <tr>
                                            <th>Auftrags-Nr</th>
                                            <th>Kunden-Nr</th>
                                            <th>Kunden-Name</th>
                                            <th>Auftrags Referenz</th>
                                            <th>Auftragsdatum</th>
                                            <th>Bestelldatum</th>
                                            <th>Benutzer</th>
                                            <th scope="col" style="text-align: center">Letzte Änderung</th>
                                        </thead>
                                    </table>
                                {% endblock %}
                            </div>

                            <div class="card-body">
                                {% block webwms_customer_order_overview_table_customer_orders_pos %}
                                    <table id="posTable" class="table table-striped table-bordered table-hover compact dataTable no-footer">
                                        <thead>
                                        <tr>
                                            <th style="text-align: center" width="5%">Auftrags-Nr</th>
                                            <th style="text-align: center" width="5%">Artikel-Nr</th>
                                            <th style="text-align: center" width="25%">Artikelname</th>
                                            <th style="text-align: center" width="5%">Menge</th>
                                            <th style="text-align: center" width="5%">Geliefert</th>
                                            <th style="text-align: center" width="5%">Offen</th>
                                        </thead>
                                    </table>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block bodyjs %}
    <script type="text/javascript" src="{{ asset('assets/js/webWmsCoreJs/jquery.customerOrder.js') }}"></script>
{% endblock %}
