@font-face {
    font-family: 'hollowpoint';
    src: url('../fonts/hollowpoint.eot');
    src: url('../fonts/hollowpoint.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hollowpoint.svg#hollowpoint') format('svg'),
    url('../fonts/hollowpoint.ttf') format('truetype'),
    url('../fonts/hollowpoint.woff') format('woff'),
    url('../fonts/hollowpoint.woff2') format('woff2');
}

@font-face {
    font-family: 'hollowpointital';
    src: url('../fonts/hollowpointital-webfont.eot');
    src: url('../fonts/hollowpointital-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hollowpointital-webfont.woff2') format('woff2'),
    url('../fonts/hollowpointital-webfont.woff') format('woff'),
    url('../fonts/hollowpointital-webfont.ttf') format('truetype'),
    url('../fonts/hollowpointital-webfont.svg#hollowpointital') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hollowpointsuperital';
    src: url('../fonts/hollowpointsuperital.eot');
    src: url('../fonts/hollowpointsuperital.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hollowpointsuperital.svg#hollowpointsuperital') format('svg'),
    url('../fonts/hollowpointsuperital.ttf') format('truetype'),
    url('../fonts/hollowpointsuperital.woff') format('woff'),
    url('../fonts/hollowpointsuperital.woff2') format('woff2');
}

@font-face {
    font-family: 'hollowpointsemiital';
    src: url('../fonts/hollowpointsemiital.eot');
    src: url('../fonts/hollowpointsemiital.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hollowpointsemiital.svg#hollowpointsemiital') format('svg'),
    url('../fonts/hollowpointsemiital.ttf') format('truetype'),
    url('../fonts/hollowpointsemiital.woff') format('woff'),
    url('../fonts/hollowpointsemiital.woff2') format('woff2');
}

@font-face {
    font-family: 'hollowpointleft';
    src: url('../fonts/hollowpointleft.eot');
    src: url('../fonts/hollowpointleft.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hollowpointleft.svg#hollowpointleft') format('svg'),
    url('../fonts/hollowpointleft.ttf') format('truetype'),
    url('../fonts/hollowpointleft.woff') format('woff'),
    url('../fonts/hollowpointleft.woff2') format('woff2');
}

@font-face {
    font-family: 'hollowpointexpand';
    src: url('../fonts/hollowpointexpand.eot');
    src: url('../fonts/hollowpointexpand.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hollowpointexpand.svg#hollowpointexpand') format('svg'),
    url('../fonts/hollowpointexpand.ttf') format('truetype'),
    url('../fonts/hollowpointexpand.woff') format('woff'),
    url('../fonts/hollowpointexpand.woff2') format('woff2');
}

@font-face {
    font-family: 'hollowpointexpandital';
    src: url('../fonts/hollowpointexpandital.eot');
    src: url('../fonts/hollowpointexpandital.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hollowpointexpandital.svg#hollowpointexpandital') format('svg'),
    url('../fonts/hollowpointexpandital.ttf') format('truetype'),
    url('../fonts/hollowpointexpandital.woff') format('woff'),
    url('../fonts/hollowpointexpandital.woff2') format('woff2');
}

@font-face {
    font-family: 'hollowpointcond';
    src: url('../fonts/hollowpointcond.eot');
    src: url('../fonts/hollowpointcond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hollowpointcond.svg#hollowpointcond') format('svg'),
    url('../fonts/hollowpointcond.ttf') format('truetype'),
    url('../fonts/hollowpointcond.woff') format('woff'),
    url('../fonts/hollowpointcond.woff2') format('woff2');
}

@font-face {
    font-family: 'hollowpointcondital';
    src: url('../fonts/hollowpointcondital.eot');
    src: url('../fonts/hollowpointcondital.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hollowpointcondital.svg#hollowpointcondital') format('svg'),
    url('../fonts/hollowpointcondital.ttf') format('truetype'),
    url('../fonts/hollowpointcondital.woff') format('woff'),
    url('../fonts/hollowpointcondital.woff2') format('woff2');
}

@font-face {
    font-family: 'hollowpoint3d';
    src: url('../fonts/hollowpoint3d.eot');
    src: url('../fonts/hollowpoint3d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hollowpoint3d.svg#hollowpoint3d') format('svg'),
    url('../fonts/hollowpoint3d.ttf') format('truetype'),
    url('../fonts/hollowpoint3d.woff') format('woff'),
    url('../fonts/hollowpoint3d.woff2') format('woff2');
}

@font-face {
    font-family: 'hollowpoint3dital';
    src: url('../fonts/hollowpoint3dital.eot');
    src: url('../fonts/hollowpoint3dital.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hollowpoint3dital.svg#hollowpoint3dital') format('svg'),
    url('../fonts/hollowpoint3d.ttf') format('truetype'),
    url('../fonts/hollowpoint3dital.woff') format('woff'),
    url('../fonts/hollowpoint3dital.woff2') format('woff2');
}