/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1367px) {

    html, body{
        height: 100%;
        margin: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        background-color: #bababa;
    }

    .content-webLVS {
        height: 100%;
        background-color: #bababa;
        text-align: center;
        font: 14px sans-serif;
    }

    .image-webLVS {
        width: 50%;
        opacity: 0.3;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logo-webLVS {
        width: 35%;
    }

    /* Beginn signup-form */

    .signup-form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 35%;
    }

    .signup-form .form-control {
        width: 50%;
        margin: 0 auto;
    }

    .signup-form h4{
        color: #858796;
        margin: 0 0 15px;
        position: relative;
        text-align: center;
        font-size: 13px;
        font-weight: 700;
    }

    .signup-form h4:before{
        left: 0;
    }

    .signup-form h4:after{
        right: 0;
    }

    .signup-form .hint-text{
        color: #000;
        margin-bottom: 30px;
        text-align: center;
    }

    .signup-form form{
        border-radius: 3px;
        margin-bottom: 15px;
        background: #393f42;
        box-shadow: 0 0 10px 2px #282828;
        padding: 50px;
    }

    .signup-form-text-info {
        text-align: center;
        margin: 20px 0 20px 0;
        font-size: 12px;
        font-weight: 700;
    }

    .signup-form-text-software {
        text-align: center;
        margin: 20px 0 20px 0;
        font-size: 11px;
        font-weight: 700;
    }

    .signup-form .form-group{
        margin-bottom: 15px;
    }

    .signup-form .btn{
        font-size: 14px;
        min-width: 90px;
        position: relative;
        text-align: center;
        white-space: nowrap;
        height: 35px;
        padding: 0 16px;
        color: #ecedee;
        border-radius: 4px;
        border: 1px solid #333a3f;

        background-color: #414a50;
        background-image: -webkit-linear-gradient(top, #475158 2%, #373e44 98%);
        background-image: linear-gradient(to bottom,#475158 2%, #373e44 98%);
        -webkit-box-shadow: inset 0 1px 0 #636367, inset 0 -1px 0 #353c41, 0 2px 3px rgba(0, 0, 0, 0.08);
        box-shadow: inset 0 1px 0 #636367, inset 0 -1px 0 #353c41, 0 2px 3px rgba(0, 0, 0, 0.08);
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08);
    }

    .signup-form .btn:hover{
        font-size: 14px;
        min-width: 90px;
        background-color: #414a50;
        background-image: -webkit-linear-gradient(top, #373e44 2%, #475158 98%);
        background-image: linear-gradient(to bottom,#373e44 2%, #475158 98%);
        color: #ecedee;
    }

    .signup-form a{
        color: #fff;
        text-decoration: underline;
    }

    .signup-form a:hover{
        text-decoration: none;
    }

    .signup-form form a{
        color: #ec6702;
        text-decoration: none;
    }

    .signup-form form a:hover{
        text-decoration: underline;
    }

    .header-icon {
        font-size: 30px;
        color: #ec6702;
        vertical-align: middle;
        margin: -12px 0 -10px 0;
    }

    /* Ende signup-form */

    /* Beginn create-form */

    .create-form {
        left: 25%;
        position: absolute;
        margin-top: 60px !important;
    }

    .hint-text {
        text-align: center;
    }

    /* End create-form */

    /* Beginn side-form */

    .side-form{
        margin: 0 auto;
        padding-top: 95px;
        width: 98%;

    }
    .side-form form{
        border-radius: 3px;
        margin-bottom: 15px;
        background: #f8f8f8;
        box-shadow: 0 0 10px 2px #282828;
        padding: 15px;
    }

    .wrapper-form{
        margin: 0 5px 5px 5px;
        padding-top: 5px;

    }
    .wrapper-form-content{
        border-radius: 3px;
        margin-bottom: 15px;
        background: #3a3f44;
        box-shadow: 0 0 10px 2px #282828;
        padding: 15px;
        margin-top: 100px;
    }

    .nav-webLVS {
        background-color: #f8f8f8;
        border-color: #e7e7e7;
    }

    .brands-webLVS {
        color: #ec6702;
        padding: 0 10px 0 10px;
        margin-left: 3px;
        margin-right: 3px;
        border: 2px solid #ed7c34;
        border-radius: 3px;
        width: 60px;
        font-size: 35px;
    }

    .iconMenu-webLVS {
        margin-left: 2px;
        margin-right: 2px;
        color: #ec6702;
        text-align: center;
        font-size: xx-large;
    }

    .iconMenu-webLVS:hover {
        margin-left: 2px;
        margin-right: 2px;
        color: #808080;
    }

    .iconMenu-webLVS-border {

        border: solid 2px #ed7c34;
        border-radius: 5px;
        padding: 5px;
    }

    .iconMenu-webLVS-page {
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        width: 100%;
        max-width: 33.33333%;
        float: left;
        position: relative;
        padding-left: 10px;
    }

    .iconMenu-webLVS-version {
        text-align: right;
        font-size: 14px;
        font-weight: bold;
        width: 100%;
        max-width: 33.33333%;
        float: left;
        position: relative;
        padding-right: 10px;
    }

    .subMenu-webLVS {
        margin-top: 57px;
        height: 40px;
        padding-top: 10px;
        background-color: #3a3f44;
        border-bottom: 1px solid #2e3436;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 1;
    }

    .subMenu-webLVS-wrapper {
        text-align: center;
        margin-top: -13px;
        width: 100%;
        max-width: 33.33333%;
        float: left;
        position: relative;
    }

    .form-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;

    }

    #stockInModal {
        position: fixed;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }
}
