/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1367px) {
    :root {
        --bs-blue: #446e9b;
        --bs-indigo: #6610f2;
        --bs-purple: #6f42c1;
        --bs-pink: #e83e8c;
        --bs-red: #cd0200;
        --bs-orange: #fd7e14;
        --bs-yellow: #d47500;
        --bs-green: #3cb521;
        --bs-teal: #20c997;
        --bs-cyan: #3399f3;
        --bs-black: #000;
        --bs-white: #fff;
        --bs-gray: #777;
        --bs-gray-dark: #333;
        --bs-gray-100: #f8f9fa;
        --bs-gray-200: #eee;
        --bs-gray-300: #dee2e6;
        --bs-gray-400: #ced4da;
        --bs-gray-500: #999;
        --bs-gray-600: #777;
        --bs-gray-700: #495057;
        --bs-gray-800: #333;
        --bs-gray-900: #2d2d2d;
        --bs-primary: #446e9b;
        --bs-secondary: #999;
        --bs-success: #3cb521;
        --bs-info: #3399f3;
        --bs-warning: #d47500;
        --bs-danger: #cd0200;
        --bs-light: #eee;
        --bs-dark: #333;
        --bs-primary-rgb: 68, 110, 155;
        --bs-secondary-rgb: 153, 153, 153;
        --bs-success-rgb: 60, 181, 33;
        --bs-info-rgb: 51, 153, 243;
        --bs-warning-rgb: 212, 117, 0;
        --bs-danger-rgb: 205, 2, 0;
        --bs-light-rgb: #808080 !important;
        --bs-dark-rgb: 51, 51, 51;
        --bs-white-rgb: 255, 255, 255;
        --bs-black-rgb: 0, 0, 0;
        --bs-body-color-rgb: 119, 119, 119;
        --bs-body-bg-rgb: 255, 255, 255;
        --bs-font-sans-serif: "Open Sans", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        --bs-font-monospace: sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
        --bs-gradient: linear-gradient(180deg, rgb(255 255 255 / 15%), rgb(255 255 255 / 0%));
        --bs-body-text-align: inherit;
        --bs-body-font-family: var(--bs-font-sans-serif);
        --bs-body-font-size: 1rem;
        --bs-body-font-weight: 400;
        --bs-body-line-height: 1.5;
        --bs-body-color: #c7cbcc;
        --bs-body-bg: #fff;
        --bs-border-width: 1px;
        --bs-border-style: solid;
        --bs-border-color: #dee2e6;
        --bs-border-color-translucent: rgb(0 0 0 / 17.5%);
        --bs-border-radius: 0.375rem;
        --bs-border-radius-sm: 0.25rem;
        --bs-border-radius-lg: 0.5rem;
        --bs-border-radius-xl: 1rem;
        --bs-border-radius-2xl: 2rem;
        --bs-border-radius-pill: 50rem;
        --bs-link-color: #c0c0c0;
        --bs-link-hover-color: #808080;
        --bs-code-color: #e83e8c;
        --bs-highlight-bg: #f6e3cc;
    }


    html, body {
        height: 100%;
        margin: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        background-color: #bababa;
    }

    .content-webLVS {
        height: 100%;
        background-color: #bababa;
        text-align: center;
        font: 14px sans-serif;
    }

    .image-webLVS {
        width: 50%;
        opacity: 0.3;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logo-webLVS {
        width: 35%;
    }
    /* Beginn signup-form */

    .signup-form {
        width: 35%;
    }

    .signup-form .form-control {
        width: 50%;
        margin: 0 auto;
    }

    .signup-form h4 {
        color: #858796;
        margin: 0 0 15px;
        position: relative;
        text-align: center;
        font-size: 13px;
        font-weight: 700;
    }

    .signup-form h4::before {
        left: 0;
    }

    .signup-form h4::after {
        right: 0;
    }

    .signup-form .hint-text {
        color: #000;
        margin-bottom: 30px;
        text-align: center;
    }

    .signup-form form {
        border-radius: 3px;
        margin-bottom: 15px;
        background: #393f42;
        box-shadow: 0 0 10px 2px #282828;
        padding: 50px;
    }

    .signup-form-text-info {
        text-align: center;
        margin: 20px 0;
        font-size: 12px;
        font-weight: 700;
    }

    .signup-form-text-software {
        text-align: center;
        margin: 20px 0;
        font-size: 11px;
        font-weight: 700;
    }

    .signup-form .form-group {
        margin-bottom: 15px;
    }

    .signup-form .btn {
        font-size: 14px;
        min-width: 90px;
        position: relative;
        text-align: center;
        white-space: nowrap;
        height: 35px;
        padding: 0 16px;
        color: #ecedee;
        border-radius: 4px;
        border: 1px solid #333a3f;
        background-color: #414a50;
        background-image: linear-gradient(to bottom,#475158 2%, #373e44 98%);
        box-shadow: inset 0 1px 0 #636367, inset 0 -1px 0 #353c41, 0 2px 3px rgb(0 0 0 / 8%);
        text-shadow: 0 -1px 0 rgb(0 0 0 / 8%);
    }

    .signup-form .btn:hover {
        font-size: 14px;
        min-width: 90px;
        background-color: #414a50;
        background-image: linear-gradient(to bottom,#373e44 2%, #475158 98%);
        color: #ecedee;
    }

    .signup-form a {
        color: #fff;
        text-decoration: underline;
    }

    .signup-form a:hover {
        text-decoration: none;
    }

    .signup-form form a {
        color: #ec6702;
        text-decoration: none;
    }

    .signup-form form a:hover {
        text-decoration: underline;
    }

    .header-icon {
        font-size: 30px;
        color: #ec6702;
        vertical-align: middle;
        margin: -12px 0 -10px;
    }
    /* Ende signup-form */
    /* Beginn create-form */

    .create-form {
        left: 25%;
        position: absolute;
        margin-top: 60px !important;
    }

    .hint-text {
        text-align: center;
    }
    /* End create-form */
    /* Beginn side-form */

    .side-form {
        margin: 0 auto;
        padding-top: 95px;
        width: 98%;

    }

    .side-form form {
        border-radius: 3px;
        margin-bottom: 15px;
        background: #f8f8f8;
        box-shadow: 0 0 10px 2px #282828;
        padding: 15px;
    }
    /* ############################################################ */
    /* ##########           Beginn wrapper-form          ########## */
    /* ############################################################ */

    .wrapper-form {
        margin: 0 5px 5px;
        padding-top: 5px;

    }

    .wrapper-form.vertical-theme {
        margin: 0;
        padding: 0;
    }

    .wrapper-form.toggled {
        margin: 0;
        padding: 0;
    }

    .wrapper-form-content .theme-bg-dark {
        border-radius: 3px;
        margin-bottom: 15px;
        background: #3a3f44;
        box-shadow: 0 0 10px 2px #282828;
        padding: 15px;
        margin-top: 100px;
    }

    .wrapper-form-content.vertical-theme {
        margin: 0;
    }

    .wrapper-form-content.toggled {
        margin: 0;
        padding: 15px;
        height: 100vh;
    }
    /* ############################################################ */
    /* ##########               Beginn nav               ########## */
    /* ############################################################ */

    .nav-webLVS {
        background-color: #f8f8f8;
        border-color: #e7e7e7;
    }

    .brands-webLVS {
        color: #ec6702;
        padding: 0 10px;
        margin-left: 3px;
        margin-right: 3px;
        border: 2px solid #ed7c34;
        border-radius: 3px;
        width: 60px;
        font-size: 35px;
    }

    .iconMenu-webLVS {
        margin-left: 2px;
        margin-right: 2px;
        color: #ec6702;
        text-align: center;
        font-size: xx-large;
    }

    .iconMenu-webLVS:hover {
        margin-left: 2px;
        margin-right: 2px;
        color: #808080;
    }

    .iconMenu-webLVS-border {
        border: solid 2px #ed7c34;
        border-radius: 5px;
        padding: 5px;
    }

    .iconMenu-webLVS-page {
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        width: 100%;
        max-width: 33%;
        float: left;
        position: relative;
        padding-left: 10px;
    }

    .iconMenu-webLVS-version {
        text-align: right;
        font-size: 14px;
        font-weight: bold;
        width: 100%;
        max-width: 33%;
        float: left;
        position: relative;
        padding-right: 10px;
    }

    .subMenu-webLVS {
        margin-top: 57px;
        height: 40px;
        padding-top: 10px;
        background-color: #3a3f44;
        border-bottom: 1px solid #2e3436;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 1;
    }

    .subMenu-webLVS-wrapper {
        text-align: center;
        margin-top: -13px;
        width: 100%;
        max-width: 33%;
        float: left;
        position: relative;
    }

    .form-row {
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;

    }

    #stockInModal {
        position: fixed;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }

    .text-first {
        position: initial;
        right: 50%;
        transform: translate(50%,-30%);
        margin-bottom: -15px !important;
        font-size: 40px;
        font-weight: 700;
        font-family: hollowpointital, sans-serif;
        color: #dee2e6;
        text-shadow:
                1px 1px 1px #808080,
                1px 1px 1px #808080,
                1px 2px 1px #808080,
                1px 3px 1px #808080,
                1px 4px 1px #808080,
                1px 5px 1px #808080,
                1px 9px 6px rgb(16 16 16 / 40%),
                1px 13px 10px rgb(16 16 16 / 20%),
                1px 16px 25px rgb(16 16 16 / 20%),
                1px 21px 30px rgb(16 16 16 / 40%);
    }

    .text-last {
        position: initial;
        right: 50%;
        transform: translate(50%,-30%);
        margin-bottom: -15px !important;
        font-size: 60px;
        font-weight: 700;
        font-family: hollowpointital, sans-serif;
        color: #ed7c34;
        text-shadow:
                1px 1px 1px #808080,
                1px 1px 1px #808080,
                1px 2px 1px #808080,
                1px 3px 1px #808080,
                1px 4px 1px #919191,
                1px 5px 1px #919191,
                1px 9px 6px rgb(16 16 16 / 40%),
                1px 13px 10px rgb(16 16 16 / 20%),
                1px 16px 25px rgb(16 16 16 / 20%),
                1px 21px 30px rgb(16 16 16 / 40%);
    }

    .d-none {
        display: none !important;
    }

    .text-end {
        text-align: right !important;
        padding-top: 8px;
    }

    #editor1 {
        width: 100%;
        margin-top: 10px;
    }

    .modal-lg {
        width: 50%;
    }

    .webwms-page {
        font-size: 18px;
        font-weight: bold;
        float: right;
        padding: 20px;
        color: #6d7080;
        text-shadow: rgb(16 16 16 / 40%) 1px 10px 6px, rgb(16 16 16 / 20%) 1px 14px 10px, rgb(16 16 16 / 20%) 1px 18px 35px, rgb(16 16 16 / 40%) 1px 22px 65px;
    }

    [data-topbar=dark] .webwms-page {
        color: #aeafaf;
    }

    .container-fluid {
        padding: 0;
        margin: auto;
    }

    table.dataTable.compact tbody th, table.dataTable.compact tbody td {
        line-height: 1;
        vertical-align: middle;
    }

    #aftTable {
        width: 100% !important;
    }
    /* ############################################################ */
    /* ##########               Beginn form              ########## */
    /* ############################################################ */

    .form-switch {
        padding: 0;
    }

    .form-switch > .form-check-input {
        margin-top: .75em;
        margin-right: .75em;
        margin-left: .75em;
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%239d9fa2'/%3e%3c/svg%3e");
        border: 1px solid rgb(255 255 255 / 55%);
    }

    .form-switch > .form-check-label {
        color: #c7cbcc;
        font-size: 25px;
    }

    .form-switch .form-check-label .mdi {
        font-size: 25px;
    }

    .form-switch .form-check-input:focus {
        background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    }

    .form-check {
        display: block;
        min-height: unset;
        padding-left: unset;
        margin-bottom: unset;
        text-align: -webkit-center;
    }

    .form-check-input:checked[type="checkbox"] {
        background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    }

    .form-check-input:focus {
        border-color: transparent;
        outline: 0;
        box-shadow: none;
    }

    .form-check-input:checked {
        background-color: #808080;
        border-color: #808080;
    }

    .form-control {
        display: block;
        height: 38px;
        padding: 8px;
        font-size: 14px;
        line-height: 1.4286;
        border-radius: 4px;
        border: 1px solid #2e3436;
        background: #3b4245 none;
        color: #c7cbcc;
        box-shadow: inset 0 1px 0 #393f42, 0 1px 0 rgb(255 255 255 / 16%);
        transition: box-shadow 180ms, border 180ms;
    }

    .form-control.is--transparent {
        background-color: transparent !important;
    }

    .form-control:focus {
        border-color: #808080;
        outline: 0;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 7.5%), 0 0 8px rgb(247 247 247);
    }

    .form-control::placeholder {
        color: #7a8288;
        opacity: 1;
    }

    .form-control:input-placeholder {
        color: #7a8288;
    }

    .form-control::input-placeholder {
        color: #7a8288;
    }

    .form-control::-ms-expand {
        background-color: transparent;
        border: 0;
    }

    .form-control[disabled],
    .form-control[readonly],
    fieldset[disabled] .form-control {
        background-color: transparent;
        opacity: 1;
    }

    .form-control[disabled],
    fieldset[disabled] .form-control {
        cursor: not-allowed;
    }

    textarea.form-control {
        height: auto;
    }

    .form-select {
        display: block;
        width: 100%;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
        -moz-padding-start: calc(0.75rem - 3px);
        font-size: 14px;
        line-height: 1.4286;
        border-radius: 4px;
        border: 1px solid #2e3436;
        color: #c7cbcc;
        background-color: #3b4245;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        appearance: none;
    }

    .form-select:focus {
        border-color: #808080;
        background-color: #fff;
        color: #3b4245;
        outline: 0;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 7.5%), 0 0 8px rgb(247 247 247);
    }

    .form-row > .col, .form-row > [class*="col-"] {
        padding-right: 5px;
        padding-left: 5px;
    }
    /* ############################################################ */
    /* ##########               Beginn card              ########## */
    /* ############################################################ */

    .card {
    /*    position: relative;*/
    /*    display: -webkit-box;*/
    /*    display: flex;*/
    /*    -webkit-box-orient: vertical;*/
    /*    -webkit-box-direction: normal;*/
    /*    flex-direction: column;*/
    /*    min-width: 0;*/
    /*    word-wrap: break-word;*/
    /*    background-color: #484e55;*/
    /*    background-clip: border-box;*/
    /*    border-radius: 0.35rem;*/
        padding: 10px;
    /*    border: 1px solid #2e3436;*/
    /*    color: #c7cbcc;*/
    /*    box-shadow: inset 0 1px 0 #393f42, 0 1px 2px rgb(255 255 255 / 16%);*/
    /*    transition: box-shadow 180ms, border 180ms;*/
    }

    .card.click-me-div {
        height: 90vh;
    }

    /*.card-body {*/
    /*    -webkit-box-flex: 1;*/
    /*    flex: 1 1 auto;*/
    /*    padding: 5px;*/
    /*}*/

    .card .bg-light {
        background-color: #484e55;
        border: 1px solid #2e3436;
        color: #c7cbcc;
        box-shadow: inset 0 1px 0 #393f42, 0 1px 0 rgb(255 255 255 / 16%);
        transition: box-shadow 180ms, border 180ms;
    }

    .bg-dark {
        background-color: #484e55 !important;
    }
    /* ############################################################ */
    /* ##########               Beginn btn               ########## */
    /* ############################################################ */

    button.dt-button {
        padding: 0;
    }

    .dt-buttons {
        margin-bottom: 5px;
        width: 80%;
    }

    button.dt-button.btn-add-new {
        float: right;
        padding: 0 10px;
    }

/*    .btn {
        font-size: 14px;
        min-width: 90px;
        position: relative;
        text-align: center;
        white-space: nowrap;
        height: 35px;
        padding: 0 16px;
        color: #ecedee;
        border-radius: 4px;
        border: 1px solid #333a3f;
        background-color: #414a50;
        background-image: linear-gradient(to bottom,#475158 2%, #373e44 98%);
        box-shadow: inset 0 1px 0 #636367, inset 0 -1px 0 #353c41, 0 2px 3px rgb(0 0 0 / 8%);
        text-shadow: 0 -1px 0 rgb(0 0 0 / 8%);
    }

    .btn:hover{
        font-size: 14px;
        min-width: 90px;
        background-color: #414a50;
        background-image: linear-gradient(to bottom,#373e44 2%, #475158 98%);
        color: #ecedee;
    }*/

    .btn-default {
        background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
        background-repeat: no-repeat;
        filter: none;
    }

    .btn-default:hover {
        background-image: linear-gradient(#020202, #101112 40%, #191b1d);
        background-repeat: no-repeat;
        filter: none;
    }

    .btn-primary {
        background-image: linear-gradient(#8a9196, #7a8288 60%, #70787d);
        background-repeat: no-repeat;
        filter: none;
    }

    .btn-primary:hover {
        background-image: linear-gradient(#404448, #4e5458 40%, #585e62);
        background-repeat: no-repeat;
        filter: none;
    }

    .btn-link,
    .btn-link:hover {
        border-color: transparent;
    }
    /* ############################################################ */
    /* ##########              Beginn table              ########## */
    /* ############################################################ */

    table.dataTable {
        border-collapse: collapse;
        min-width: 100%;
        min-width: -moz-available;
        min-width: -webkit-fill-available;
        min-width: fill-available;
    }

    .table-dark {
        --bs-table-bg: #484e55;
        --bs-table-color: #c7cbcc;
        --bs-table-hover-bg: #808080;
    }

    .table-dark, thead, tr {
        background-color: transparent;
    }

    .table-light, tbody, tr {
        --bs-table-color: transparent;
    }

    .table-light, tbody, tr {
        --bs-table-color: #31353D;
    }

    .table-responsive > .table {
        border: none;
    }

    table.dataTable {
        border-collapse: collapse;
        border: 1px solid #2e3436;
    }

    .table-responsive > .table {
        background: none;
        border: 1px solid #2e3436;
        color: #c7cbcc;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 8px;
        line-height: 1.4286;
        vertical-align: top;
        border: 1px solid #808080;
    }

    .table > thead > tr > th {
        vertical-align: bottom;
    }

    .table > thead > tr {
        background-color: #393f42;
    }

    .table > caption + thead > tr:first-child > th,
    .table > colgroup + thead > tr:first-child > th,
    .table > thead:first-child > tr:first-child > th,
    .table > caption + thead > tr:first-child > td,
    .table > colgroup + thead > tr:first-child > td,
    .table > thead:first-child > tr:first-child > td {
        border-top: 0;
    }

    .table > tbody + tbody {
        border-top: 2px solid #1c1e22;
    }

    .table-condensed > thead > tr > th,
    .table-condensed > tbody > tr > th,
    .table-condensed > tfoot > tr > th,
    .table-condensed > thead > tr > td,
    .table-condensed > tbody > tr > td,
    .table-condensed > tfoot > tr > td {
        padding: 5px;
    }

    .table-bordered {
        border: 1px solid #2c3136;
    }

    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
        border: 1px solid #2c3136;
    }

    .table-bordered > thead > tr > th,
    .table-bordered > thead > tr > td {
        border-bottom-width: 1px;
        vertical-align: middle;
    }

    /*.table-striped > tbody > tr:nth-of-type(odd) {*/
    /*    background-color: #49515a;*/
    /*    color: #c7cbcc;*/
    /*}*/

    /*.table-hover > tbody > tr:hover {*/
    /*    background-color: #49515a;*/
    /*}*/

    /*.table > thead > tr > td.active,*/
    /*.table > tbody > tr > td.active,*/
    /*.table > tfoot > tr > td.active,*/
    /*.table > thead > tr > th.active,*/
    /*.table > tbody > tr > th.active,*/
    /*.table > tfoot > tr > th.active,*/
    /*.table > thead > tr.active > td,*/
    /*.table > tbody > tr.active > td,*/
    /*.table > tfoot > tr.active > td,*/
    /*.table > thead > tr.active > th,*/
    /*.table > tbody > tr.active > th,*/
    /*.table > tfoot > tr.active > th {*/
    /*    background-color: #49515a;*/
    /*}*/

    /*.table-hover > tbody > tr > td.active:hover,*/
    /*.table-hover > tbody > tr > th.active:hover,*/
    /*.table-hover > tbody > tr.active:hover > td,*/
    /*.table-hover > tbody > tr:hover > .active,*/
    /*.table-hover > tbody > tr.active:hover > th {*/
    /*    background-color: #3e444c;*/
    /*}*/

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 8px;
        line-height: 1.4286;
        vertical-align: middle;
        border: 1px solid #2e3436;
    }

    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: none;
    }

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        background-color: #49515a;
        color: #c7cbcc;
        vertical-align: middle;
    }

    .table-striped-columns > :not(caption) > tr > :nth-child(even) {
        --bs-table-accent-bg: var(--bs-table-striped-bg);

        color: var(--bs-table-striped-color);
    }

    th[id^="delete_"] {
        vertical-align: middle !important;
        text-align: center;
    }

    .badge:empty {
        display: none;
    }

    .badge {
        --bs-badge-padding-x: 0.50em;
        --bs-badge-padding-y: 0.20em;
        --bs-badge-font-size: 0.75em;
        --bs-badge-font-weight: 700;
        --bs-badge-color: #fff;
        --bs-badge-border-radius: 0.375rem;

        display: inline-block;
        padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
        min-width: 10px;
        font-size: 12px;
        font-weight: bold;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        border-radius: 10px;
        background-repeat: no-repeat;
        float: right;
        border: 1px solid #2e3436;
        color: #c7cbcc;
        background-color: #414a50;
        background-image: linear-gradient(to bottom,#475158 2%, #373e44 98%);
        box-shadow: inset 0 1px 0 #636367, inset 0 -1px 0 #353c41, 0 2px 3px rgb(0 0 0 / 8%);
        text-shadow: 0 -1px 0 rgb(0 0 0 / 8%);
    }

    .btn .badge {
        position: relative;
        top: -1px;
    }

    .btn-xs .badge,
    .btn-group-xs > .btn .badge {
        top: 0;
        padding: 1px 5px;
    }

    a.badge:hover,
    a.badge:focus {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }

    .list-group-item.active > .badge,
    .nav-pills > .active > a > .badge {
        color: #fff;
        background-color: #7a8288;
    }

    .list-group-item > .badge {
        float: right;
    }

    .list-group-item > .badge + .badge {
        margin-right: 5px;
    }

    .nav-pills > li > a > .badge {
        margin-left: 3px;
    }

    .align-items-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-muted {
        color: #6d7080 !important;
        text-shadow:
                rgb(16 16 16 / 40%) 1px 10px 6px,
                rgb(16 16 16 / 20%) 1px 14px 10px,
                rgb(16 16 16 / 20%) 1px 18px 35px,
                rgb(16 16 16 / 40%) 1px 22px 65px;
    }

    [data-sidebar=dark] .text-muted {
        color: #c7cbcc !important;
        text-shadow:
                rgb(16 16 16 / 40%) 1px 10px 6px,
                rgb(16 16 16 / 20%) 1px 14px 10px,
                rgb(16 16 16 / 20%) 1px 18px 35px,
                rgb(16 16 16 / 40%) 1px 22px 65px;
    }

    .col-xl-3 {
        margin-bottom: 25px;
    }

    .bg-light {
        background-color: #bababa !important;
    }

    .text-dark {
        color: #31353D !important;
    }

    .text-light {
        color: #c7cbcc !important;
    }
    /* ############################################################ */
    /* ##########               Beginn nav               ########## */
    /* ############################################################ */

    .navbar-dark {
        background: #31353D !important;

        --bs-navbar-color: rgb(255 255 255 / 75%);
    }

    .navbar-light {
        background: #808080 !important;

        --bs-navbar-color: #31353D !important;
    }

    .nav-tabs {
        border: none !important;
        margin-left: 5px;
    }

    .nav-tabs > li > .active {
        background: #3b4245 !important;
        color: #c7cbcc !important;
        border-width: 1px 1px 0;
        border-color: #2e3436;
        box-shadow: inset 0 1px 0 #393f42, 0 1px 2px rgb(255 255 255 / 16%);
        transition: box-shadow 180ms, border 180ms;
    }

    .nav-tabs > li > a {
        text-decoration: none;
    }

    .nav-tabs > li > a:hover {
        background: #3b4245 !important;
        color: #c7cbcc !important;
        border-width: 1px 1px 0;
        border-color: #2e3436;
        box-shadow: inset 0 1px 0 #393f42, 0 1px 2px rgb(255 255 255 / 16%);
        transition: box-shadow 180ms, border 180ms;
    }

    .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
        isolation: isolate;
        border: none;
    }
    /* ############################################################ */
    /* ##########            Beginn dataTables           ########## */
    /* ############################################################ */

    table.dataTable.compact tbody th, table.dataTable.compact tbody td {
        padding: 4px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        font-size: 15px;
        line-height: 15px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        font-size: 15px;
        line-height: 15px;
    }
    /* ############################################################ */
    /* ##########            Beginn datepicker           ########## */
    /* ############################################################ */

    .ui-datepicker-div {
        box-shadow: inset 0 1px 0 #393f42, 0 1px 0 rgb(255 255 255 / 16%);
        transition: box-shadow 180ms, border 180ms;
    }

    .ui-datepicker {
        width: auto !important;
    }

    .ui-widget-header {
        border: 1px solid #2e3436;
        background: #3b4245;
        color: #c7cbcc;
        font-weight: bold;
    }

    .ui-widget-header .ui-icon {
        background-image: url("../images/ui-icons_777777_256x240.png");
    }

    .ui-widget-content {
        border: 1px solid #2e3436 !important;
        background: #484e55;
        color: #c7cbcc;
    }

    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-button,
    html .ui-button.ui-state-disabled:hover,
    html .ui-button.ui-state-disabled:active {
        border: 1px solid #2e3436;
        background: #3b4245;
        font-weight: normal;
        color: #c7cbcc;
        text-align: center;
    }

    .ui-datepicker-today a.ui-state-highlight {
        border-color: #555;
        background: #c7cbcc;
        color: #ed7c34;
        font-weight: 800;
    }

    .ui-datepicker-today.ui-datepicker-current-day a.ui-state-highlight {
        border-color: #555;
        background: #c7cbcc;
        color: #ed7c34;
        font-weight: 800;
    }
    /* ############################################################ */
    /* ##########              Beginn modal              ########## */
    /* ############################################################ */

    .modal-content {
        border: 1px solid #2e3436;
        background: #3b4245;
        color: #c7cbcc;
    }

    .modal-header {
        justify-content: unset;
        padding: 10px;
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        width: 100%;
        border-bottom: 1px solid #2e3436;
        color: #c7cbcc;
        box-shadow: inset 0 1px 0 #393f42, 0 1px 2px rgb(255 255 255 / 16%);
        transition: box-shadow 180ms, border 180ms;
        text-shadow:
                rgb(16 16 16 / 40%) 1px 10px 6px,
                rgb(16 16 16 / 20%) 1px 14px 10px,
                rgb(16 16 16 / 20%) 1px 18px 35px,
                rgb(16 16 16 / 40%) 1px 22px 65px;
    }

    .modal-header .close {
        margin-right: 5px;
    }

    .modal-title {
        width: inherit;
        margin-left: 5px;
        color: #c7cbcc;
        font-size: 18px;
        font-weight: bold;
    }

    .modal-footer {
        border-top: 1px solid #2e3436;
        box-shadow: inset 0 1px 0 #393f42, 0 1px 2px rgb(255 255 255 / 16%);
    }

    .modal-footer .btn + .btn {
        margin: unset;
    }

    .modal-dialog .form-group {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .modal-dialog .modal-fullscreen-width {
        max-width: 95%;
    }

    .ui-widget.ui-widget-content {
        z-index: 10000;
    }
    /* ############################################################ */
    /* ##########          Beginn Stock details          ########## */
    /* ############################################################ */

    .stock-select::after {
        font-family: "Material Design Icons", sans-serif;
        font-weight: 900;
        content: "\F0CE0";
        font-style: normal;
        display: inline-block;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        background: 0 0;
        position: absolute;
        right: 8px;
        top: 16px;
    }

    .stock-details {
        border: 3px solid;
        padding: 5px;
        margin-right: 3px;
    }

    .stock-details.block {
        border: 0;
        padding: 5px;
        margin-right: 0;
    }

    .stock-details.block.section-1-2 {
        display: flex;
    }

    .stock-details.block.section-2-2 {
        display: flex;
    }

    .stock-details-content {
        display: grid;
    }

    .stock-details-content.block {
        display: flex;
    }

    .stock-details-content-inner {
        display: inline-flex;
        margin-bottom: 3px;
        padding: 5px 0;
    }

    .stock-details-content-inner.block {
        border: 3px solid;
        margin-bottom: 3px;
    }

    .stock-details-content-inner-desc {
        font-size: 18px;
        font-weight: bold;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .stock-details-content-inner-space {
        display: block;
    }

    .stock-details-badge-occupancy {
        display: inline-grid;
        width: 20px;
        height: 20px;
        color: var(--bs-gray-dark);
    }

    .stock-details-badge-occupancy.stock-details-occupied {
        background: #cd0200;
    }

    .stock-details-badge-occupancy.stock-details-occupied:hover {
        opacity: 0.5;
    }

    .stock-details-badge-occupancy.stock-details-not-occupied {
        background: #3cb521;
    }

    .stock-details-badge-occupancy.stock-details-not-occupied:hover {
        opacity: 0.5;
    }

    .no-stock-details {
        margin-left: 5px;
        font-size: 18px;
        font-weight: bold;
        color: #c7cbcc;
    }
}
