/* Tablet-Landscape Viewport (577px bis 1366px */
@media (max-width: 1366px) {

    html, body {
        height: 100%;
        margin: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        background-color: #C0C0C0;
    }

    .content-webLVS {
        height: 100%;
        text-align: center;
        font: 12px sans-serif;
    }

    .image-webLVS {
        width: 50%;
        opacity: 0.3;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logo-webLVS {
        width: 35%;
    }

    .form-group .form-control {
        height: 30px;
        font-size: 11px;
    }

    /* Beginn signup-form */

    .signup-form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .signup-form h4{
        color: #858796;
        margin: 0 0 15px;
        position: relative;
        text-align: center;
        font-size: 13px;
        font-weight: 700;
    }

    .signup-form h4:before{
        left: 0;
    }

    .signup-form h4:after{
        right: 0;
    }

    .signup-form .hint-text{
        color: #000;
        margin-bottom: 30px;
        text-align: center;
    }

    .signup-form form{
        border-radius: 3px;
        margin-bottom: 15px;
        background: #f8f8f8;
        box-shadow: 0 0 10px 2px #282828;
        padding: 50px;
    }

    .signup-form-text-info {
        text-align: center;
        margin: 20px 0 20px 0;
        font-size: 12px;
        font-weight: 700;
    }

    .signup-form-text-software {
        text-align: center;
        margin: 20px 0 20px 0;
        font-size: 10px;
        font-weight: 700;
    }

    .signup-form .form-group{
        margin-bottom: 15px;
    }

    .signup-form .btn{
        font-size: 14px;
        font-weight: bold;
        min-width: 90px;
        background: #ec6702;
        color: #555555;
        border: 2px groove #555555;
    }

    .signup-form .btn:hover{
        font-size: 14px;
        font-weight: bold;
        min-width: 90px;
        background: #808080;
        color: #ec6702;
        border: 2px solid #ec6702;
    }

    .signup-form a{
        color: #fff;
        text-decoration: underline;
    }

    .signup-form a:hover{
        text-decoration: none;
    }

    .signup-form form a{
        color: #ec6702;
        text-decoration: none;
    }

    .signup-form form a:hover{
        text-decoration: underline;
    }

    .header-icon {
        font-size: 25px;
        color: #ec6702;
        vertical-align: middle;
        margin: -12px 0 -10px 0;
    }

    /* Ende signup-form */

    /* Beginn side-form */

    .side-form{
        margin: 0 auto;
        padding-top: 95px;
        width: 98%;

    }
    .side-form form{
        border-radius: 3px;
        margin-bottom: 15px;
        background: #f8f8f8;
        box-shadow: 0 0 10px 2px #282828;
        padding: 15px;
    }

    .wrapper-form{
        margin: 0 5px 5px 5px;
        padding-top: 5px;

    }

    .wrapper-form-content{
        border-radius: 3px;
        margin-bottom: 15px;
        background: #f8f8f8;
        box-shadow: 0 0 10px 2px #282828;
        padding: 15px;
        margin-top: 85px;
    }

    .nav-webLVS {
        background-color: #f8f8f8;
        border-color: #e7e7e7;
    }

    .brands-webLVS {
        color: #ec6702;
        padding: 0 10px 0 10px;
        margin-left: 3px;
        margin-right: 3px;
        border: 2px solid #ed7c34;
        border-radius: 3px;
        width: 60px;
        font-size: 35px;
        box-shadow: 3px 3px 3px #808080;
    }

    .iconMenu-webLVS {
        margin-left: 2px;
        margin-right: 2px;
        color: #ec6702;
        text-align: center;
        font-size: 27px;
    }

    .iconMenu-webLVS:hover {
        margin-left: 2px;
        margin-right: 2px;
        color: #808080;
    }

    .iconMenu-webLVS-border {

        border: solid 2px #ed7c34;
        border-radius: 5px;
        padding: 5px;
    }

    .iconMenu-webLVS-page {
        text-align: left;
        font-size: 11px;
        font-weight: bold;
        width: 100%;
        max-width: 33.33333%;
        float: left;
        position: relative;
        padding-left: 10px;
    }

    .iconMenu-webLVS-version {
        text-align: right;
        font-size: 11px;
        font-weight: bold;
        width: 100%;
        max-width: 33.33333%;
        float: left;
        position: relative;
        padding-right: 10px;
    }

    .subMenu-webLVS {
        margin-top: 52px;
        height: 32px;
        padding-top: 10px;
        background-color: #f7f7f7;
        border-bottom: 1px solid #808080;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1;
    }

    .subMenu-webLVS-wrapper {
        text-align: center;
        margin-top: -13px;
        width: 100%;
        max-width: 33.33333%;
        float: left;
        position: relative;
    }

    .dataTables_wrapper {
        font-size: 12px;
    }

    .table .thead-dark th {
        color: #fff;
        background-color: #5a5c69;
        border-color: #6c6e7e;
    }
}
