{# templates/user/user_right/index.html.twig #}

{% extends 'base.html.twig' %}

{% block webwms_content %}
    {% block webwms_user_right_overview %}
        <div id="webWMS-user-right-overview" class="wrapper-form vertical-theme">
            <div class="wrapper-form-content vertical-theme">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                {% block webwms_user_overview_table_user_right %}
                                    <div class="card">
                                        <div class="card-content">
                                            <table class="table table-striped table-bordered table-hover compact">
                                                <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Benutzerrecht</th>
                                                    <th>Beschreibung</th>
                                                    <th>Erstellt am</th>
                                                    <th>Bearbeitet am</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for user_right in user_rights %}
                                                    <tr>
                                                        <td>{{user_right.id}}</td>
                                                        <td>{{user_right.userRight}}</td>
                                                        <td>{{user_right.description}}</td>
                                                        <td>{{user_right.createdAt|date('d.m.Y H:i:s')}}</td>
                                                        <td>{{user_right.updatedAt|date('d.m.Y H:i:s')}}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block bodyjs %}{% endblock %}