{# templates/logging/index.html.twig #}

{% extends 'base.html.twig' %}

{% block webwms_content %}
    {% block webwms_logging_overview %}
        <div id="webwms-logging-overview" class="wrapper-form vertical-theme">
            <div class="wrapper-form-content vertical-theme">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                {% block webwms_logging_overview_table %}
                                    <table id="loggingTable" class="table table-striped table-bordered table-hover compact">
                                        <thead>
                                        <tr>
                                            <th scope="col" style="text-align: center">Route</th>
                                            <th scope="col" style="text-align: center">Nachricht</th>
                                            <th scope="col" style="text-align: center">Datum</th>
                                            <th scope="col" style="text-align: center">Benutzer</th>
                                            <th scope="col" style="text-align: center">IP-Adresse</th>
                                            <th scope="col" style="text-align: center">User Agent</th>
                                        </tr>
                                        </thead>
                                    </table>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block bodyjs %}
    <script type="text/javascript" src="{{ asset('assets/js/webWmsCoreJs/jquery.logging.js') }}"></script>
{% endblock %}
