{# templates/module/index.html.twig #}

{% extends 'base.html.twig' %}

{% block webwms_content %}
    {% block webwms_module %}
        <div id="webWMS-configuration" class="wrapper-form vertical-theme">
            <div class="wrapper-form-content vertical-theme">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            {% block webwms_module_overview %}
                                <div class="card">
                                    <div class="card-body">
                                        {% if modules is not empty %}
                                            {% for module in modules %}
                                                <div class="module-card module-card-base">
                                                    <div class="module-card-content"><div class="module-card-content-wrapper">
                                                            <div class="module-card-base-switch">
                                                                <div class="module-field--switch module-field--default" id="{{ module.name }}">
                                                                    <div class="module-field--switch-content">
                                                                        <div class="module-field--switch-input">
                                                                            {% if module.active|default %}
                                                                                <div class="form-check">
                                                                                    <input class="checkbox" type="checkbox" value="" id="module-field--{{ module.name }}" disabled="disabled" checked>
                                                                                </div>
                                                                            {% else %}
                                                                                <div class="form-check">
                                                                                    <input class="checkbox" type="checkbox" value="" id="module-field--{{ module.name }}">
                                                                                </div>
                                                                            {% endif %}
                                                                        </div>
                                                                    <div class="module-field"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="module-icon">
                                                            </div>
                                                            <div class="module-card-base-info">
                                                                <section>
                                                                    <span class="module-card-base-info-name">
                                                                        {{ module.name }}
                                                                    </span>
                                                                </section>
                                                                <section>
                                                                    <span class="module-card-base-info-description">
                                                                        {% if module.description|default %}
                                                                            {{ module.description }}
                                                                        {% else %}
                                                                            Dieses Modul ist noch nicht installiert
                                                                        {% endif %}
                                                                    </span>
                                                                </section>
                                                            </div>
                                                            <div class="module-card-base-meta-info">
                                                                <section>
                                                                    <span class="module-card-base-meta-info-version">
                                                                        Version:
                                                                        {% if module.version %}
                                                                            {{ module.version }}
                                                                        {% endif %}
                                                                    </span>
                                                                </section>
                                                                <span>
                                                                    Installiert:
                                                                    {% if module.installedAt|default %}
                                                                        {{ module.installedAt }}
                                                                    {% else %}
                                                                        Nicht installiert
                                                                    {% endif %}
                                                                </span>
                                                            </div>
                                                            <div class="module-card-base-main-action">
                                                            </div>
                                                            <div class="module-context-button module-card-base-context-menu">
                                                                <button class="module-context-button-button">

                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block bodyjs %}
    <script type="text/javascript" src="{{ asset('assets/libs/bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
