html {
  box-sizing: border-box;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #3a3f44;
  color: #c7cbcc;
}

/** HEADER **/

header:before {
  content: "";
}

header #logo {
  display: none;
}

header #logo img {
  height: 50px;
  background-color: rgba(40, 134, 144, .4)
}

.svg-icons {
    position:absolute;width:0;height:0
}

/** WEBBY AND WEB **/

.web, .webby {
  right: 0;
  z-index: 101;
  position: fixed;
}

.web {
  top: 0;
}

.web:after {
  content: "";
  opacity: 0;
  width: 2px;
  height: 70px;
  position: fixed;
  right: 35px;
  background-color: black;
}

.web.calm:after {
  opacity: .2;
  height: calc(100% - 120px);
  transition: height 2s ease-in-out 2s, opacity 0s linear 2s;
}

.web.frighten:after {
  opacity: .2;
  transition: height 1s ease-in-out;
}

.webby {
  opacity: 0;
  top: 170px;
  transform: translateY(-100%);
}

.webby.calm {
  opacity: 1;
  top: calc(100% - 30px);
  transition: top 2s ease-in-out 2s, opacity 0s linear 2s;
}

.webby.frighten {
  opacity: 1;
  transition: top 1s ease-in-out;
  animation: shake .5s ease-in-out;
}

/** INCREASE WRAPPER BLOCK PADDING **/

#swagger-ui.api-platform .wrapper {
  padding: 0 60px;
}

/** INFORMATION BLOCK **/

#swagger-ui.api-platform .information-container.wrapper {
  margin: 0 0 30px;
  padding: 10px 0 0;
  width: 100%;
  max-width: 100%;
  background-color: #484e55;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

#swagger-ui.api-platform .info .title {
  color: #dee2e6;
}

#swagger-ui.api-platform .info {
  width: 100%;
  max-width: 1460px;
  padding: 0 50px;
  margin: 0 auto;
}

.swagger-ui section.models {
  display: none;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  margin: 30px 0;
}

.swagger-ui section.models .model-container {
  background-color: #c0c0c0;
  border-radius: 4px;
  margin: 0 20px 15px;
  position: relative;
  transition: all .5s;
}

.swagger-ui section.models .model-container:hover {
  background-color: #c0c0c0;
}

/** METHODS BLOCKS **/

#swagger-ui.api-platform .opblock.opblock-get .opblock-summary-method {
  background-color: #3caab5;
  color: #3a3f44;
}

#swagger-ui.api-platform .opblock.opblock-put .opblock-summary-method {
  background-color: #e6c229;
  color: #3a3f44;
}

#swagger-ui.api-platform .opblock.opblock-post .opblock-summary-method {
  background-color: #78bc61;
  color: #3a3f44;
}

#swagger-ui.api-platform .opblock.opblock-delete .opblock-summary-method {
  background-color: #ed6a5a;
  color: #3a3f44;
}

#swagger-ui.api-platform .opblock.opblock-deprecated .opblock-summary-method {
  background-color: #ebebeb;
  color: #3a3f44;
}

#swagger-ui.api-platform .opblock.opblock-get .opblock-summary {
  border-color: #3caab5;
  background-color: #c0c0c0;
  color: #3a3f44;
}

#swagger-ui.api-platform .opblock.opblock-put .opblock-summary {
  border-color: #e6c229;
  background-color: #c0c0c0;
  color: #3a3f44;
}

#swagger-ui.api-platform .opblock.opblock-post .opblock-summary {
  border-color: #78bc61;
  background-color: #c0c0c0;
  color: #3a3f44;
}

#swagger-ui.api-platform .opblock.opblock-delete .opblock-summary {
  border-color: #ed6a5a;
  background-color: #c0c0c0;
  color: #3a3f44;
}

#swagger-ui.api-platform .opblock.opblock-deprecated .opblock-summary {
  border-color: #ebebeb;
  background-color: #c0c0c0;
  color: #3a3f44;
}

#swagger-ui.api-platform .opblock-summary-method {
  border-radius: 0;
  padding: 10px;
  color: #3a3f44;
}

#swagger-ui.api-platform .opblock-summary {
  padding: 0;
  background-color: #c0c0c0;
}

#swagger-ui.api-platform .opblock-tag {
  padding: 5px 0;
  margin: 0 0 10px;
}

#swagger-ui.api-platform .opblock-tag:hover {
  transform: scale(1.01);
}

#swagger-ui.api-platform .opblock.opblock-post .opblock-section-header {
  background-color: rgba(120, 188, 97, .1);
}

#swagger-ui.api-platform .opblock.opblock-put .opblock-section-header {
  background-color: rgba(230, 194, 41, .1);
}

#swagger-ui.api-platform .opblock.opblock-delete .opblock-section-header {
  background-color: rgba(237, 106, 90, .1);
}

#swagger-ui.api-platform .opblock.opblock-deprecated .opblock-section-header {
  background-color: rgba(235, 235, 235, .1);
}

#swagger-ui.api-platform .opblock {
  border-radius: 0;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  margin: 0 0 10px;
  padding: 0;
  border: none !important;
}

#swagger-ui .topbar {
  display: none;
}

/** FORMATS **/

#formats {
  text-align: right;
  font-family: Open Sans, sans-serif;
  width: 100%;
  max-width: 1460px;
  padding: 0 60px;
  margin: 0 auto;
}

/** BUTTONS **/

#swagger-ui.api-platform .btn.execute {
  background-color: #3caab5;
  animation: none;
  transition: all ease .3s;
}

#swagger-ui.api-platform .btn.execute:hover {
  background-color: #288690;
}

#swagger-ui.api-platform .execute-wrapper {
  text-align: center;
}

#swagger-ui.api-platform .execute-wrapper .btn {
  width: auto;
  padding: 10px 40px;
}

#swagger-ui.api-platform .btn-group {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#swagger-ui.api-platform .btn-group .btn {
  padding: 10px 40px;
}

#swagger-ui.api-platform .btn {
  font-size: 14px;
  min-width: 90px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  height: 35px;
  padding: 0 16px;
  color: #ecedee;
  border-radius: 4px;
  border: 1px solid #333a3f;

  background-color: #414a50;
  background-image: -webkit-linear-gradient(top, #475158 2%, #373e44 98%);
  background-image: linear-gradient(to bottom,#475158 2%, #373e44 98%);
  -webkit-box-shadow: inset 0 1px 0 #636367, inset 0 -1px 0 #353c41, 0 2px 3px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px 0 #636367, inset 0 -1px 0 #353c41, 0 2px 3px rgba(0, 0, 0, 0.08);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08);
}

#swagger-ui.api-platform .btn:hover {
  font-size: 14px;
  min-width: 90px;
  background-color: #414a50;
  background-image: -webkit-linear-gradient(top, #373e44 2%, #475158 98%);
  background-image: linear-gradient(to bottom,#373e44 2%, #475158 98%);
  color: #ecedee;
  border: 1px solid #333a3f;
}

#swagger-ui.api-platform .btn.cancel:hover {
  background-color: rgba(237, 106, 90, .1);
}

#swagger-ui.api-platform .btn.authorize:hover {
  background-color: rgba(120, 188, 97, .1);
}

#swagger-ui.api-platform select {
  box-shadow: none;
  cursor: pointer;
  color: #484e55;
}

/** FIX TABS SEPARATOR **/

#swagger-ui.api-platform .tab li:first-of-type:after {
  content: none;
}

#swagger-ui.api-platform .tab li {
  padding: 0 5px;
  border-right: 1px solid rgba(0, 0, 0, .2);
}

#swagger-ui.api-platform .tab li:last-of-type {
  border-right: none;
}

/** REMOVE HIGHLIGHTS FOCUS INPUTS **/

#swagger-ui.api-platform input:focus,
#swagger-ui.api-platform select:focus,
#swagger-ui.api-platform textarea:focus,
#swagger-ui.api-platform button:focus {
  outline: none;
}

/** USE OPEN SANS FONT **/

.swagger-ui .opblock-tag,
.swagger-ui .opblock .opblock-section-header label,
.swagger-ui .opblock .opblock-section-header h4,
.swagger-ui .opblock .opblock-summary-method,
.swagger-ui .tab li,
.swagger-ui .scheme-container .schemes>label,
.swagger-ui .loading-container .loading:after,
.swagger-ui .btn,
.swagger-ui .btn.cancel,
.swagger-ui select,
.swagger-ui label,
.swagger-ui .dialog-ux .modal-ux-content h4,
.swagger-ui .dialog-ux .modal-ux-header h3,
.swagger-ui section.models h4,
.swagger-ui section.models h5,
.swagger-ui .model-title,
.swagger-ui .parameter__name,
.swagger-ui .topbar a,
.swagger-ui .topbar .download-url-wrapper .download-url-button,
.swagger-ui .info .title small pre,
.swagger-ui .scopes h2,
.swagger-ui .errors-wrapper hgroup h4 {
  font-family: Open Sans, sans-serif !important;
  color: #c7cbcc;
}

.swagger-ui .model-title, .parameter__name {
  color: #484e55;
}

.swagger-ui .scheme-container {
  display: none;
}

#formats .info {
  color: #c7cbcc;
}

.swagger-ui .opblock-body {
  background-color: #c0c0c0;
}

.swagger-ui .opblock-section-header {
  background-color: #c0c0c0;
}

.swagger-ui .opblock .opblock-section-header h4 {
  color: #484e55;
}

.swagger-ui .tab li button.tablinks {
  color: #484e55;
}

.swagger-ui .parameter__name {
  color: #484e55;
}

/** ANIMATIONS **/

@keyframes shake {
  10%, 90% {
    transform: translate(-1px, -100%);
  }
  20%, 80% {
    transform: translate(2px, -100%);
  }
  30%, 50%, 70% {
    transform: translate(-4px, -100%);
  }
  40%, 60% {
    transform: translate(4px, -100%);
  }
}
