{# templates/user/user_group/index.html.twig #}

{% extends 'base.html.twig' %}

{% block webwms_content %}
    {% block webwms_user_group_overview %}
        <div id="webWMS-user-group-overview" class="wrapper-form vertical-theme">
            <div class="wrapper-form-content vertical-theme">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                {% block webwms_user_overview_table_user_group %}
                                    <div class="card">
                                        <div class="card-content">
                                            <table class="table table-striped table-bordered table-hover compact">
                                                <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Gruppe</th>
                                                    <th>Beschreibung</th>
                                                    <th>Rollen</th>
                                                    <th>Erstellt am</th>
                                                    <th>Bearbeitet am</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for user_group in user_groups %}
                                                    <tr>
                                                        <td>{{user_group.id}}</td>
                                                        <td>{{user_group.group}}</td>
                                                        <td>{{user_group.description}}</td>
                                                        <td>
                                                            {% for role in user_group.roles %}
                                                                <p style="font-weight: bold">{{ role }},</p>
                                                            {% endfor %}
                                                        </td>
                                                        <td>{{user_group.createdAt|date('d.m.Y H:i:s')}}</td>
                                                        <td>{{user_group.updatedAt|date('d.m.Y H:i:s')}}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block bodyjs %}{% endblock %}
