{# templates/base.html.twig #}

<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}"
      data-layout="vertical"
      data-topbar="light"
      data-sidebar="light"
      data-sidebar-size="lg"
      data-sidebar-image="none"
      data-preloader="disable">
    <head>
        {{ include('subsections/title-meta.html.twig') }}

        {% block stylesheets %}
            {{ include('subsections/head-css.html.twig') }}
        {% endblock %}

        {% block javascripts %}
            {{ include('subsections/head-js.html.twig') }}
        {% endblock %}
    </head>
    <body>
        <div id="layout-wrapper">
            {% block webwms_header_navigation %}
                {{ include('subsections/menu.html.twig') }}
            {% endblock %}
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                        {% block webwms_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% block bodyjs %}
            <script>
                const loader = '<img src="{{ asset('assets/images/ajax-loader.gif') }}" />';
                const modalLoader = '<div class="modal-body">' + loader + '</div>';
            </script>
        {% endblock %}
        {% block modal %}
            <!-- Modal -->
            <div class="modal" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="modalCenterTitle"></h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>
                        <div id="modal-content-ajax">
                            <div class="modal-body">
                                <img src="{{ asset('assets/images/ajax-loader.gif') }}" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block webwms_about_modal %}
            <div class="modal" id="aboutWebWMS" tabindex="-1" role="dialog" aria-labelledby="aboutWebWMS"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-notify modal-success" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Über webWMS</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center">
                                <span class="text-first">web</span><span class="text-last">WMS</span>
                                <p class="fs-16" style="text-align: center; font-weight: bold; margin: -20px 0 20px 0;">Das webbasierte Lagerverwaltungssystem</p>
                                <p style="margin-bottom: 5px;">{{ appVersion }} {{ appVersionNumber }}</p>
                                <p style="margin-bottom: 20px;">{{ appCopyright }}</p>
                                <p style="margin-bottom: 5px;">Lizenziert für:</p>
                                <p>{{ appLizenz }}</p>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-center">
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {{ include('subsections/vendor-scripts.html.twig') }}

        <script src="{{ asset('assets/libs/simplebar/simplebar.min.js') }}"></script>

        <!-- App js -->
        <script src="{{ asset('assets/js/app.js') }}"></script>
    </body>
</html>