<!-- Layout config Js -->
<script src="{{ asset('assets/js/layout.js') }}"></script>
<!-- Bootstrap Css -->
<link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="{{ asset('assets/css/icons.css') }}" rel="stylesheet" type="text/css" />
<!-- App Css -->
<link href="{{ asset('assets/css/app.css') }}" rel="stylesheet" type="text/css" />
<!-- Custom Css -->
<link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet" type="text/css" />
<!-- Sidebars Css -->
<link href="{{ asset('assets/css/sidebars.css') }}" rel="stylesheet" type="text/css" />
<!-- Fonts Css -->
<link href="{{ asset('assets/css/fonts.css') }}" rel="stylesheet" type="text/css" />
<!-- Context Menu Css -->
<link href="{{ asset('assets/css/jquery.contextMenu.css') }}" rel="stylesheet" type="text/css" />
<!-- Datatables Buttons Bootstrap 5 Css -->
<link href="{{ asset('assets/libs/datatables/Buttons-2.3.6/css/buttons.bootstrap5.css') }}" rel="stylesheet" type="text/css" />
<!-- Datatables Bootstrap 5 Css -->
<link href="{{ asset('assets/libs/datatables/DataTables-1.13.4/css/dataTables.bootstrap5.css') }}" rel="stylesheet" type="text/css" />
<!-- Datatables jQuery -->
<link href="{{ asset('assets/libs/datatables/DataTables-1.13.4/css/jquery.dataTables.css') }}" rel="stylesheet" type="text/css" />
