<script type="text/javascript" src="{{ asset('assets/js/webWmsExternJs/jquery-3.6.3.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/webWmsExternJs/jquery-ui.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/libs/datatables/DataTables-1.13.4/js/jquery.dataTables.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/libs/datatables/Buttons-2.3.6/js/dataTables.buttons.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/libs/datatables/Select-1.6.2/js/dataTables.select.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/webWmsExternJs/moment.WithLocales.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/webWmsExternJs/jszip.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/webWmsExternJs/pdfmake.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/webWmsExternJs/vfs_fonts.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/libs/datatables/Buttons-2.3.6/js/buttons.html5.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/libs/datatables/Buttons-2.3.6/js/buttons.print.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/webWmsExternJs/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/libs/sweetalert2/sweetalert2.all.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/libs/sweetalert2/sweetalert2.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/webWmsCoreJs/webWmsAjax.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/webWmsCoreJs/settings.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/tinymce/tinymce.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/webWmsCoreJs/sidebars.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/webWmsExternJs/jquery.contextMenu.js') }}"></script>
