<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <div class="navbar-brand-box">
        <div class="sidebar-brand">
            <a
                href="{{ path('homepage') }}"><span class="text-first">web</span><span class="text-last">WMS</span>
            </a>
            <div class="text-muted sidebar-brand-version">{{ appVersionNumber }} {{ appVersion }}</div>
        </div>
        <div class="sidebar-header">
            <div class="user-pic">
                <img class="img-responsive img-rounded" src="{{ asset('assets/images/user_profile.png') }}"
                     alt="User picture">
            </div>
            <div class="user-info">
                    <span class="user-name">
                        {% if app.user != null %}
                            {{ app.user.firstname }} {{ app.user.lastname }}
                        {% endif %}
                    </span>
                <span class="text-muted user-role">
                        {% if app.user.roles[0] == 'ROLE_SUPER_ADMIN' %}
                            Superadministrator
                        {% elseif app.user.roles[0] == 'ROLE_USER' %}
                            Benutzer
                        {% endif %}
                    </span>
                <span class="user-status">
                        <i class="mdi mdi-circle"></i>
                        <span class="text-muted">{{ 'nav.user.online'|trans }}</span>
                    </span>
            </div>
        </div>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span>{{ 'nav.headline1'|trans }}</span></li>

                <li class="nav-item">
                    <a href="#sidebarLogistics" class="nav-link menu-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarLogistics">
                        <i class="text-muted-primary mdi mdi-warehouse fs-20"></i>
                        <span class="text-muted-primary">{{ 'nav.logistics.headline'|trans }}</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarLogistics">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#sidebarLogisticsStockIn" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarLogisticsStockIn">
                                    <i class="mdi mdi-forklift mdi-flip-h fs-18"></i>
                                    <span>{{ 'nav.logistics.submenu.headline1'|trans }}</span>
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarLogisticsStockIn">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item-sub">
                                            <a id="stock_in" class="nav-link-sub" href="{{ path('stock_in') }}">
                                                {{ 'nav.logistics.submenu.headline1.entry1'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="stock_in_from_goods_receipt" class="nav-link-sub">
                                                {{ 'nav.logistics.submenu.headline1.entry2'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="stock_in_from_production" class="nav-link-sub">
                                                {{ 'nav.logistics.submenu.headline1.entry3'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="stock_in_from_cost_centre" class="nav-link-sub">
                                                {{ 'nav.logistics.submenu.headline1.entry4'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="stock_in_into_container" class="nav-link-sub">
                                                {{ 'nav.logistics.submenu.headline1.entry5'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="stock_in_using_loading_equipment" class="nav-link-sub">
                                                {{ 'nav.logistics.submenu.headline1.entry6'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="stock_in_into_receiving_area" class="nav-link-sub">
                                                {{ 'nav.logistics.submenu.headline1.entry7'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="stock_in_into_dispatch_area" class="nav-link-sub">
                                                {{ 'nav.logistics.submenu.headline1.entry8'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="stock_in_for_supplier_order" class="nav-link-sub">
                                                {{ 'nav.logistics.submenu.headline1.entry9'|trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarLogisticsStockOut" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarLogisticsStockOut">
                                    <i class="mdi mdi-forklift fs-18"></i>
                                    <span>{{ 'nav.logistics.submenu.headline2'|trans }}</span>
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarLogisticsStockOut">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item-sub">
                                            <a id="stock_out" class="nav-link-sub" href="#">
                                                {{ 'nav.logistics.submenu.headline2.entry1'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="stock_out_to_cost_centre" class="nav-link-sub">
                                                {{ 'nav.logistics.submenu.headline2.entry2'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="lending_to_cost_centre" class="nav-link-sub">
                                                {{ 'nav.logistics.submenu.headline2.entry3'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="stock_out_from_container" class="nav-link-sub">
                                                {{ 'nav.logistics.submenu.headline2.entry4'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="stock_out_from_cost_centre" class="nav-link-sub">
                                                {{ 'nav.logistics.submenu.headline2.entry5'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="stock_out_from_dispatch_area" class="nav-link-sub">
                                                {{ 'nav.logistics.submenu.headline2.entry6'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="stock_out_by_customer_order" class="nav-link-sub">
                                                {{ 'nav.logistics.submenu.headline2.entry7'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="stock_out_from_receiving_area" class="nav-link-sub">
                                                {{ 'nav.logistics.submenu.headline2.entry8'|trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarLogisticsStockTransfer" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarLogisticsStockTransfer">
                                    <i class="mdi mdi-swap-horizontal-bold fs-18"></i>
                                    <span>{{ 'nav.logistics.submenu.headline3'|trans }}</span>
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarLogisticsStockTransfer">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item-sub">
                                            <a id="stock_transfer_between_stock_locations" class="nav-link-sub">
                                                {{ 'nav.logistics.submenu.headline3.entry1'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="stock_transfer_from_receiving_area_to_stock" class="nav-link-sub">
                                                {{ 'nav.logistics.submenu.headline3.entry2'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="stock_transfer_from_stock_to_dispatch_area" class="nav-link-sub">
                                                {{ 'nav.logistics.submenu.headline3.entry3'|trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarSupplierOrder" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarSupplierOrder">
                        <i class="mdi mdi-file-search fs-20"></i>
                        <span>{{ 'nav.supplier_order.headline'|trans }}</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarSupplierOrder">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="{{ path('supplier_orders') }}">
                                    <i class="mdi mdi-file-eye fs-18"></i>
                                    <span>{{ 'nav.supplier_order.headline.entry1'|trans }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarCustomerOrder" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarCustomerOrder">
                        <i class="mdi mdi-file-search-outline fs-20"></i>
                        <span>{{ 'nav.customer_order.headline'|trans }}</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarCustomerOrder">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="{{ path('customer_orders') }}">
                                    <i class="mdi mdi-file-eye-outline fs-18"></i>
                                    <span>{{ 'nav.customer_order.headline.entry1'|trans }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a href="#sidebarMasterData" class="nav-link menu-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarMasterData">
                        <i class="text-muted-primary mdi mdi-warehouse fs-20"></i>
                        <span class="text-muted-primary">{{ 'nav.master_data.headline'|trans }}</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarMasterData">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#sidebarMasterDataArticle" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarMasterDataArticle">
                                    <i class="mdi mdi-archive-cog-outline fs-18"></i>
                                    <span>{{ 'nav.master_data.submenu.headline1'|trans }}</span>
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarMasterDataArticle">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item-sub">
                                            <a id="master_data_article" class="nav-link-sub" href="{{ path('article') }}">
                                                {{ 'nav.master_data.submenu.headline1.entry1'|trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarMasterDataCustomer" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarMasterDataCustomer">
                                    <i class="mdi mdi-card-account-details-outline fs-18"></i>
                                    <span>{{ 'nav.master_data.submenu.headline2'|trans }}</span>
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarMasterDataCustomer">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item-sub">
                                            <a id="master_data_customer" class="nav-link-sub" href="{{ path('customer') }}">
                                                {{ 'nav.master_data.submenu.headline2.entry1'|trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarMasterDataSupplier" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarMasterDataSupplier">
                                    <i class="mdi mdi-card-account-details fs-18"></i>
                                    <span>{{ 'nav.master_data.submenu.headline3'|trans }}</span>
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarMasterDataSupplier">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item-sub">
                                            <a id="master_data_supplier" class="nav-link-sub" href="{{ path('supplier') }}">
                                                {{ 'nav.master_data.submenu.headline3.entry1'|trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarMasterDataStock" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarMasterDataStock">
                                    <i class="mdi mdi-warehouse fs-18"></i>
                                    <span>{{ 'nav.master_data.submenu.headline4'|trans }}</span>
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarMasterDataStock">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item-sub">
                                            <a id="master_data_stock_location" class="nav-link-sub" href="{{ path('stock_location') }}">
                                                {{ 'nav.master_data.submenu.headline4.entry1'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="master_data_stock_layout" class="nav-link-sub" href="{{ path('stock_layout') }}">
                                                {{ 'nav.master_data.submenu.headline4.entry2'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="master_data_stock_zone" class="nav-link-sub" href="{{ path('stock_zone') }}">
                                                {{ 'nav.master_data.submenu.headline4.entry3'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="master_data_loading_equipment" class="nav-link-sub" href="{{ path('stock_zone') }}">
                                                {{ 'nav.master_data.submenu.headline4.entry4'|trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarEvaluations" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarEvaluations">
                        <i class="mdi mdi-chart-areaspline fs-20"></i>
                        <span>{{ 'nav.evaluations.headline'|trans }}</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarEvaluations">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item-sub">
                                <a href="{{ path('stock_rotation') }}">
                                    <i class="mdi mdi-table-refresh fs-18"></i>
                                    <span>{{ 'nav.evaluations.submenu.headline1'|trans }}</span>
                                </a>
                            </li>
                            <li class="nav-item-sub">
                                <a href="{{ path('stock_occupancy') }}">
                                    <i class="mdi mdi-view-dashboard-variant-outline fs-18"></i>
                                    <span>{{ 'nav.evaluations.submenu.headline2'|trans }}</span>
                                </a>
                            </li>
                            <li class="nav-item-sub">
                                <a href="{{ path('stock_occupancy_graphical') }}">
                                    <i class="mdi mdi-monitor-dashboard fs-18"></i>
                                    <span>{{ 'nav.evaluations.submenu.headline3'|trans }}</span>
                                </a>
                            </li>
                            <li class="nav-item-sub">
                                <a href="{{ path('stock_occupancy_graphical') }}">
                                    <i class="mdi mdi-cash fs-18"></i>
                                    <span>{{ 'nav.evaluations.submenu.headline4'|trans }}</span>
                                </a>
                            </li>
                            <li class="nav-item-sub">
                                <a href="{{ path('dashboard') }}">
                                    <i class="mdi mdi-monitor fs-18"></i>
                                    <span>{{ 'nav.evaluations.submenu.headline5'|trans }}</span>
                                </a>
                            </li>
                            <li class="nav-item-sub">
                                <a href="{{ path('logging') }}">
                                    <i class="mdi mdi-clipboard-text-search-outline fs-18"></i>
                                    <span>{{ 'nav.evaluations.submenu.headline6'|trans }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarInventory" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarInventory">
                        <i class="mdi mdi-text-box-multiple-outline fs-20"></i>
                        <span>{{ 'nav.inventory.headline'|trans }}</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarInventory">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="{{ path('stock_inventory_start') }}">
                                    <i class="mdi mdi-text-box-outline fs-18"></i>
                                    <span>{{ 'nav.inventory.submenu.headline1'|trans }}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('stock_inventory_post') }}">
                                    <i class="mdi mdi-text-box-plus-outline fs-18"></i>
                                    <span>{{ 'nav.inventory.submenu.headline2'|trans }}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('stock_inventory_close') }}">
                                    <i class="mdi mdi-text-box-check-outline fs-18"></i>
                                    <span>{{ 'nav.inventory.submenu.headline3'|trans }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarSettings" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarSettings">
                        <i class="mdi mdi-store-cog-outline fs-20"></i>
                        <span>{{ 'nav.settings.headline'|trans }}</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarSettings">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="{{ path('configuration') }}" class="nav-link">
                                    <i class="mdi mdi-application-cog-outline fs-18"></i>
                                    <span>{{ 'nav.settings.submenu.headline1'|trans }}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarSettingsUser" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarSettingsUser">
                                    <i class="mdi mdi-card-account-details-outline fs-18"></i>
                                    <span>{{ 'nav.settings.submenu.headline2'|trans }}</span>
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarSettingsUser">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item-sub">
                                            <a id="settings_user_overview" class="nav-link-sub" href="{{ path('user') }}">
                                                {{ 'nav.settings.submenu.headline2.entry1'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="settings_user_overview" class="nav-link-sub" href="{{ path('configuration_user_groups') }}">
                                                {{ 'nav.settings.submenu.headline2.entry2'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="settings_user_overview" class="nav-link-sub" href="{{ path('configuration_user_roles') }}">
                                                {{ 'nav.settings.submenu.headline2.entry3'|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item-sub">
                                            <a id="settings_user_overview" class="nav-link-sub" href="{{ path('configuration_user_rights') }}">
                                                {{ 'nav.settings.submenu.headline2.entry4'|trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="menu-title"><i class="ri-more-fill"></i> <span>{{ 'nav.headline2'|trans }}</span></li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="../doku_weblvs/index.php" target="_blank">
                        <i class="mdi mdi-information-outline"></i>
                        <span>{{ 'nav.help.headline1'|trans }}</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#aboutWebWMS" data-toggle="modal" data-target="#aboutWebWMS">
                        <i class="mdi mdi-help-circle-outline"></i>
                        <span>{{ 'nav.help.headline2'|trans }}</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="{{ path('api_doc') }}" target="_blank" >
                        <i class="mdi mdi-file-code-outline"></i>
                        <span>{{ 'nav.help.headline3'|trans }}</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <div class="sidebar-background"></div>
</div>
<div class="vertical-overlay"></div>
