<meta charset="utf-8" />
{% block title %}
    <title>{{ page }} {{ appName }}</title>
{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="webWMS Das webbasierte Lagerverwaltungssystem" name="description" />
<meta content="SoftDev Nord" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="{{ asset('assets/images/favicon.ico') }}">
