{# templates/stock/stock_in_edit.html.twig #}

{% block webwms_stock_in_edit_form %}
    <form id="stock-in-form-edit" class="form-horizontal" role="form">
        <div class="modal-body">
            <div class="container-fluid">
                <div id="flash-message-overlay">
                    <div class="col">
                    </div>
                </div>
                {% include 'stock/stock_in_input_fields.html.twig' %}
            </div>
        </div>
        <div class="modal-footer"></div>
    </form>
{% endblock %}
