{# templates/stock/stock_rotation.html.twig #}

{% extends 'base.html.twig' %}

{% block webwms_content %}
    {% block webwms_stock_movements_overview %}
        <div id="webWMS-stock-movements-overview" class="wrapper-form vertical-theme">
            <div class="wrapper-form-content vertical-theme">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                {% block webwms_stock_movements_overview_table %}
                                    <div class="card">
                                        <div class="card-content">
                                            <table id="strTable" class="table table-striped table-bordered table-hover compact">
                                                <thead>
                                                <tr>
                                                    <th scope="col">LBW ID</th>
                                                    <th scope="col">BA ID</th>
                                                    <th scope="col">Buchungsart</th>
                                                    <th scope="col">Referenz</th>
                                                    <th scope="col">Lagerplatz</th>
                                                    <th scope="col">Lagersystem</th>
                                                    <th scope="col">Artikel-Nr</th>
                                                    <th scope="col">Bezeichnung</th>
                                                    <th scope="col">Menge</th>
                                                    <th scope="col">Benutzer</th>
                                                    <th scope="col">Zugangsdatum</th>
                                                    <th scope="col">Abgangsdatum</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block bodyjs %}
    <script type="text/javascript" src="{{ asset('assets/js/webWmsCoreJs/jquery.stockRotation.js') }}"></script>
{% endblock %}
