{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ include('dashboard/partials/head-css.html.twig') }}
{% endblock %}

{% block webwms_content %}
    {% block webwms_article_overview %}
        <div id="webwms-dashboard-overview" class="wrapper-form vertical-theme">
            <div class="wrapper-form-content vertical-theme">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div id="layout-wrapper">
                                    <div class="row">
                                        <div class="col-xl-4 col-md-4">
                                            <div class="card" style="margin: 5px">
                                                <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <div class="col-xxl-12">
                                                            <span class="text-muted mb-3 lh-1 text-truncate">Wareneingänge</span>
                                                            <span class="ms-1 text-muted font-size-12">Letzte Woche</span>
                                                            {{ render_chart(incomingGoods) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-md-4">
                                            <div class="card" style="margin: 5px">
                                                <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <div class="col-xxl-12">
                                                            <span class="text-muted mb-3 lh-1 text-truncate">Warenausgänge</span>
                                                            <span class="ms-1 text-muted font-size-12">Letzte Woche</span>
                                                            {{ render_chart(outgoingGoods) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-md-4">
                                            <div class="card" style="margin: 5px">
                                                <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <div class="col-xxl-12">
                                                            <span class="text-muted mb-3 lh-1 text-truncate">Transportaufträge</span>
                                                            <span class="ms-1 text-muted font-size-12">Letzte Woche</span>
                                                            {{ render_chart(allTransportRequestsForChart) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-4 col-md-4">
                                            <div class="card" style="margin: 5px">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-xxl-12">
                                                            <span class="text-muted mb-3 lh-1 text-truncate">Lagerauslastung</span>
                                                            <span class="ms-1 text-muted font-size-12">Anzahl Lagerplätze</span>
                                                            {% set foo = warehouseUtilization.occupiedStockLocations / warehouseUtilization.allStockLocations *100 %}
                                                            <span class="badge rounded-pill badge-soft-success font-size-12 bg-soft-success text-success">{{ foo|number_format(2) }} %</span>
                                                            <div class="col-xxl-12 d-flex">
                                                                <span class="col-4-text-center">Gesamt</span>
                                                                <span class="col-4-text-center">Belegt</span>
                                                                <span class="col-4-text-center">Frei</span>
                                                            </div>
                                                            <div class="col-xxl-12 d-flex">
                                                                <p class="col-4-form-control text-shadow">
                                                                    {% if warehouseUtilization.allStockLocations > 0 %}
                                                                        {{ warehouseUtilization.allStockLocations }}
                                                                    {% else %}
                                                                        0
                                                                    {% endif %}
                                                                </p>
                                                                <p class="col-4-form-control text-shadow">
                                                                    {% if warehouseUtilization.occupiedStockLocations > 0 %}
                                                                        {{ warehouseUtilization.occupiedStockLocations }}
                                                                    {% else %}
                                                                        0
                                                                    {% endif %}
                                                                </p>
                                                                <p class="col-4-form-control text-shadow">
                                                                    {% if (warehouseUtilization.allStockLocations - warehouseUtilization.occupiedStockLocations) > 0 %}
                                                                        {{ warehouseUtilization.allStockLocations - warehouseUtilization.occupiedStockLocations }}
                                                                    {% else %}
                                                                        0
                                                                    {% endif %}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-4">
                                            <div class="card" style="margin: 5px">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-xxl-12">
                                                            <span class="text-muted mb-3 lh-1 text-truncate">Transportaufträge</span>
                                                            <span class="ms-1 text-muted font-size-12">Übersicht</span>
                                                            <div class="col-xxl-12 d-flex">
                                                                <span class="col-4-text-center">Gesamt</span>
                                                                <span class="col-4-text-center">Offen</span>
                                                                <span class="col-4-text-center">In Arbeit</span>
                                                            </div>
                                                            <div class="col-xxl-12 d-flex">
                                                                <p class="col-4-form-control text-shadow">
                                                                    {% if allTransportRequests.TrSum > 0 %}
                                                                        {{ allTransportRequests.TrSum }}
                                                                    {% else %}
                                                                        0
                                                                    {% endif %}
                                                                </p>
                                                                <p class="col-4-form-control text-shadow">
                                                                    {% if allTransportRequests.TrOpen > 0 %}
                                                                        {{ allTransportRequests.TrOpen }}
                                                                    {% else %}
                                                                        0
                                                                    {% endif %}
                                                                </p>
                                                                <p class="col-4-form-control text-shadow">
                                                                    {% if allTransportRequests.TrInProgress > 0 %}
                                                                        {{ allTransportRequests.TrInProgress }}
                                                                    {% else %}
                                                                        0
                                                                    {% endif %}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-md-4">
                                            <div class="card" style="margin: 5px">
                                                <div class="card-body">
                                                    <div class="row" style="display: none">
                                                        <div class="col-xxl-12">
                                                            <span class="text-muted mb-3 lh-1 text-truncate">Lagerauslastung</span>
                                                            {% set foo = warehouseUtilization.occupiedStockLocations / warehouseUtilization.allStockLocations *100 %}
                                                            <span class="badge rounded-pill badge-soft-success font-size-12 bg-soft-success text-success">{{ foo|number_format(2) }} %</span>
                                                            <div class="col-xxl-12 d-flex">
                                                                <span class="col-4-text-center">Gesamt</span>
                                                                <span class="col-4-text-center">Belegt</span>
                                                                <span class="col-4-text-center">Frei</span>
                                                            </div>
                                                            <div class="col-xxl-12 d-flex">
                                                                <p class="col-4-form-control text-shadow">{{ warehouseUtilization.allStockLocations }}</p>
                                                                <p class="col-4-form-control text-shadow">{{ warehouseUtilization.occupiedStockLocations }}</p>
                                                                <p class="col-4-form-control text-shadow">{{ warehouseUtilization.allStockLocations - warehouseUtilization.occupiedStockLocations }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div id="chart" class="col-10 mt-4">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block bodyjs %}
    {{ encore_entry_script_tags('webWms') }}
{% endblock %}
