{# templates/article/article_edit.html.twig #}

{% block webwms_article_edit_form %}
    <form id="article-form-edit" class="form-horizontal" role="form">
        <div class="modal-body">
            <div class="container-fluid">
                <div id="flash-message-overlay">
                    <div class="col">
                    </div>
                </div>
                {% include 'article/article_input_fields.html.twig' %}
            </div>
        </div>
        <div class="modal-footer"></div>
    </form>
{% endblock %}
