{# templates/article/index.html.twig #}

{% extends 'base.html.twig' %}

{% block webwms_content %}
    {% block webwms_article_overview %}
        <div id="webwms-article-overview" data-article="true" class="wrapper-form vertical-theme">
            <div class="wrapper-form-content vertical-theme">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                {% block webwms_article_overview_table %}
                                    <table id="artTable" class="table table-striped table-bordered table-hover compact">
                                        <thead>
                                        <tr>
                                            <th scope="col" style="text-align: center">Artikel-Nr</th>
                                            <th scope="col" style="text-align: center">Bezeichnung</th>
                                            <th scope="col" style="text-align: center">Kategorie</th>
                                            <th scope="col" style="text-align: center">Gewicht in g</th>
                                            <th scope="col" style="text-align: center">EAN-Code</th>
                                            <th scope="col" style="text-align: center">Einheit</th>
                                            <th scope="col" style="text-align: center">Tiefe (mm)</th>
                                            <th scope="col" style="text-align: center">Breite (mm)</th>
                                            <th scope="col" style="text-align: center">Höhe (mm)</th>
                                            <th scope="col" style="text-align: center">Bestand</th>
                                            <th scope="col" style="text-align: center">Zugang</th>
                                            <th scope="col" style="text-align: center">Reserviert</th>
                                            <th scope="col" style="text-align: center">Letzte Änderung</th>
                                        </tr>
                                        </thead>
                                    </table>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block bodyjs %}
    <script type="text/javascript" src="{{ asset('assets/js/webWmsCoreJs/jquery.article.js') }}"></script>
{% endblock %}
