{# templates/stock/stock_zone/index.html.twig #}

{% extends 'base.html.twig' %}

{% block webwms_content %}
    {% block webwms_stock_zone_overview %}
        <div id="webWMS-stock-zone-overview" class="wrapper-form vertical-theme">
            <div class="wrapper-form-content vertical-theme">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                {% block webwms_stock_zone_overview_table %}
                                    <div class="card">
                                        <div class="card-content">
                                            <table id="stockZoneTable" class="table table-striped table-bordered table-hover compact">
                                                <thead style="text-align: center;">
                                                <tr>
                                                    <th style="text-align: center" scope="col">Kurz-Bezeichnung</th>
                                                    <th style="text-align: center" scope="col">Bezeichnung Lang</th>
                                                    <th scope="col" style="text-align: center">Letzte Änderung</th>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block bodyjs %}
    <script type="text/javascript" src="{{ asset('assets/js/webWmsCoreJs/jquery.stockZone.js') }}"></script>
{% endblock %}
