{# templates/user/user_add.html.twig #}

{% block webwms_user_add_form %}
    <form id="user-form-new" class="form-horizontal" role="form">
        <div class="modal-body">
            <div class="container-fluid">
                <div id="flash-message-overlay">
                    <div class="col">
                    </div>
                </div>
                {% include 'user/user_input_fields.html.twig' %}
            </div>
        </div>
        <div class="modal-footer"></div>
    </form>
{% endblock %}