{# templates/user/user_password_edit.html.twig #}

{% block webwms_user_password_edit_form %}
    <form id="user-password-form-edit" class="form-horizontal" role="form">
        <div class="modal-body">
            <div class="container-fluid">
                <div id="flash-message-overlay">
                    <div class="col">
                    </div>
                </div>
                <div class="row">
                    {% block webwms_user_password_edit_form_inner %}
                        <div class="card">
                            {{ form_start(userPasswordForm) }}
                            <div class="form-group">
                                <label for="text" class="control-label col-xs-4">Aktuelles Passwort</label>
                                <div class="col-xs-8" style="margin-bottom: 5px;">
                                    {{ form_row(userPasswordForm.oldPassword) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="text" class="control-label col-xs-4">Neues Passwort</label>
                                <div class="col-xs-8" style="margin-bottom: 5px;">
                                    {{ form_row(userPasswordForm.newPassword) }}
                                </div>
                            </div>
                            <div class="text-center">
                                {{ form_widget(userPasswordForm.save) }}
                                {{ form_widget(userPasswordForm.abort) }}
                            </div>
                            {{ form_end(userPasswordForm) }}
                        </div>
                        <input type="hidden" id="change_password_username" name="change_password[username]" value="{{ username }}">
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="modal-footer"></div>
    </form>
{% endblock %}