{# templates/user/user_input_fields.html.twig #}

{% block webwms_user_input_fields_form %}
    <div class="row">
        {% block webwms_user_input_fields_form_inner %}
            <div class="card">
                {{ form_start(userForm) }}
                <div class="form-group">
                    <label for="text" class="control-label col-xs-4">Benutzername</label>
                    <div class="col-xs-8" style="margin-bottom: 5px;">
                        {{ form_row(userForm.username) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="text" class="control-label col-xs-4">Vorname</label>
                    <div class="col-xs-8" style="margin-bottom: 5px;">
                        {{ form_row(userForm.firstname) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="text" class="control-label col-xs-4">Nachname</label>
                    <div class="col-xs-8" style="margin-bottom: 5px;">
                        {{ form_row(userForm.lastname) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="text" class="control-label col-xs-4">E-Mail</label>
                    <div class="col-xs-8" style="margin-bottom: 5px;">
                        {{ form_row(userForm.email) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="text" class="control-label col-xs-4">Aktiv</label>
                    <div class="form-check form-switch" style="margin-bottom: 5px;">
                        {{ form_row(userForm.enabled) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="text" class="control-label col-xs-4">Benutzerrolle(n)</label>
                    <div class="col-xs-8" style="margin-bottom: 5px;">
                        {{ form_row(userForm.role) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="text" class="control-label col-xs-4">Benutzergruppe(n)</label>
                    <div class="col-xs-8" style="margin-bottom: 5px;">
                        {{ form_row(userForm.userGroups) }}
                    </div>
                </div>
                {% if addUser %}
                    <div class="form-group">
                        <label for="text" class="control-label col-xs-4">Passwort</label>
                        <div class="col-xs-8" style="margin-bottom: 5px;">
                            {{ form_row(userForm.password.first) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="text" class="control-label col-xs-4">Passwort wiederholen</label>
                        <div class="col-xs-8" style="margin-bottom: 5px;">
                            {{ form_row(userForm.password.second) }}
                        </div>
                    </div>
                {% endif %}
                <div class="text-center">
                    {{ form_widget(userForm.save) }} {{ form_widget(userForm.abort) }}
                </div>
                {{ form_end(userForm) }}
            </div>
        {% endblock %}
    </div>
{% endblock %}