{# templates/stock/stock_location/stock_location_add.html.twig #}

{% block webwms_stock_location_add_form %}
    <form id="stock-location-form-new" class="form-horizontal" role="form">
        <div class="modal-body">
            <div class="container-fluid">
                <div id="flash-message-overlay">
                    <div class="col">
                    </div>
                </div>
                {% include 'stock/stock_location/stock_location_input_fields.html.twig' %}
            </div>
        </div>
        <div class="modal-footer"></div>
    </form>
{% endblock %}
