{# templates/stock/stock_location/stock_location_input_fields.html.twig #}

{% block webwms_stock_location_input_fields_form %}
    <div class="row">
        {% block webwms_stock_location_input_fields_form_inner %}
            <div class="card">
                {{ form_start(stockLocationForm) }}
                <div class="form-group">
                    <label for="text" class="control-label col-xs-4">Lagernummer</label>
                    <div class="col-xs-8" style="margin-bottom: 5px;">
                        {{ form_row(stockLocationForm.stockLocationLn) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="text" class="control-label col-xs-4">Fachboden</label>
                    <div class="col-xs-8" style="margin-bottom: 5px;">
                        {{ form_row(stockLocationForm.stockLocationFb) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="text" class="control-label col-xs-4">Stellplatz</label>
                    <div class="col-xs-8" style="margin-bottom: 5px;">
                        {{ form_row(stockLocationForm.stockLocationSp) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="text" class="control-label col-xs-4">Tiefe</label>
                    <div class="col-xs-8" style="margin-bottom: 5px;">
                        {{ form_row(stockLocationForm.stockLocationTf) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="text" class="control-label col-xs-4">Bezeichnung</label>
                    <div class="col-xs-8" style="margin-bottom: 5px;">
                        {{ form_row(stockLocationForm.stockLocationDesc) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="text" class="control-label col-xs-4">Breite</label>
                    <div class="col-xs-8" style="margin-bottom: 5px;">
                        {{ form_row(stockLocationForm.stockLocationWidth) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="text" class="control-label col-xs-4">Tiefe</label>
                    <div class="col-xs-8" style="margin-bottom: 5px;">
                        {{ form_row(stockLocationForm.stockLocationDepth) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="text" class="control-label col-xs-4">Höhe</label>
                    <div class="col-xs-8" style="margin-bottom: 5px;">
                        {{ form_row(stockLocationForm.stockLocationHeight) }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="text" class="control-label col-xs-4">Lager-Zone</label>
                    <div class="col-xs-8" style="margin-bottom: 5px;">
                        {{ form_row(stockLocationForm.stockLocationZone) }}
                    </div>
                </div>
                {{ form_row(stockLocationForm._token) }}
                <div class="text-center">
                    {{ form_widget(stockLocationForm.save) }} {{ form_widget(stockLocationForm.abort) }}
                </div>
                {{ form_end(stockLocationForm) }}
            </div>
        {% endblock %}
    </div>
{% endblock %}
