{# templates/configuration/index.html.twig #}

{% extends 'base.html.twig' %}

{% block webwms_content %}
    {% block webwms_configuration %}
        <div id="webWMS-configuration" class="wrapper-form vertical-theme">
            <div class="wrapper-form-content vertical-theme">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            {% block webwms_configuration_overview %}
                                <div class="card">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#general_settings" role="tab">Allgemein</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#user_settings" role="tab">Benutzer</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#print_settings" role="tab">Drucker</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#systeminformation" role="tab">Systeminformationen</a>
                                        </li>
                                    </ul>
                                    <div class="card-body">
                                        <div class="tab-content text-center">
                                            {% block webwms_configuration_overview_general %}
                                                {{ include('configuration/tabs/general.html.twig') }}
                                            {% endblock %}

                                            {% block webwms_configuration_overview_user %}
                                                {{ include('configuration/tabs/user.html.twig') }}
                                            {% endblock %}

                                            {% block webwms_configuration_overview_print %}
                                                {{ include('configuration/tabs/print.html.twig') }}
                                            {% endblock %}

                                            {% block webwms_configuration_overview_systeminformation %}
                                                {{ include('configuration/tabs/systeminformation.html.twig') }}
                                            {% endblock %}

                                        </div>
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block bodyjs %}
    <script type="text/javascript" src="{{ asset('assets/libs/bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
